In [1]:
#importing libraries
import pandas as pd
import numpy as np
import random as random
import math
import warnings
warnings.filterwarnings("ignore")

In [2]:
def Dataframe_Load():
  #Supplier countries 
  # Created an empty dataframe with the required columns for suppliers
  supplier_details = pd.DataFrame(columns=['Supplier_ID','Country', 'lat', 'long', 'Volume', 'Time_taken'])
  #Reading world cities
  cities_df = pd.read_excel('worldcities.xlsx')
  df2 = cities_df.loc[(cities_df.country == "China") | (cities_df.country == "India") | (cities_df.country == "Japan")|(cities_df.country == "South Korea")|(cities_df.country == "France")]
  Supplier_Countries = df2.groupby('country').head(2)

  #Taking location o f manufracturer to find distance between other cities and US 
  us = cities_df.loc[(cities_df.country == "United States") ]
  us = us.head(1)
  return Supplier_Countries, us
  '''us["Current_Inventory_Level"] = random.randint(35000,50000)
  us["Max_Inventory_Level"] = 300000
  us["Inventory_Difference"] = us["Max_Inventory_Level"] - us['Current_Inventory_Level']
  print(us)'''

In [3]:
#Adding reqd columns and randomizing values of volume, time_taken
Supplier_Countries, us = Dataframe_Load()
def value_add(Supplier_Countries):
  #us_demand = float(us.Inventory_Difference)
  time1 = []
  vol = []
  material_volume_provided = []
  demand_satisfied = []
  count = 0
  for i in range(1,len(Supplier_Countries)+1):
    time1.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1500,2000))
    elif i in [2,5,8,10]:
      vol.append(random.randint(2500,4000))
    else:
      vol.append(random.randint(750, 1000))
    #material_volume_provided.append(vol[count] - float(0.1*us_demand))
    #demand_satisfied.append(0.1*us_demand)
    #Supplier_Countries.drop(columns = "Material_Provided", inplace = True)
    #Supplier_Countries.drop(columns = "Supplier_ID", inplace = True)

    count = count + 1
    #demand_percentage.append((0.1*us['Demand']))
  time1.sort()
  Supplier_Countries["Volume"] = vol
  #Supplier_Countries["Material_Left"] = material_volume_provided
  #Supplier_Countries["Demand-Satisfied"] = demand_satisfied
  return Supplier_Countries

Supplier_Countries = value_add(Supplier_Countries)

In [4]:
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84
def distance_calc(Supplier_Countries, us):
  #Calculated the distance of the suppliers from the manufacturing facility in USA
  distance1 = []
  lat1 = float(us["lat"])
  long1 = float(us["lng"])
  for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
  Supplier_Countries["Distance_from_us"] = distance1
  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  return Supplier_Countries



'''  
#creating and visualizing network graph
import networkx as nx
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84

geod = Geodesic.WGS84

G = nx.DiGraph()
G.add_node(0, latitude = us["lat"], longitude= us["lng"])
distance1 = []
lat1 = float(us["lat"])
long1 = float(us["lng"])
for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    G.add_node(row['id'], latitude = row['lat'], longitude = row['lng'])
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
    if row['Demand-Satisfied']<=row['Volume']:
      cost = g['s12']/1000 * row['Demand-Satisfied']
    else:
      cost = g['s12']/1000 * row['Volume']
    G.add_edge(0, row['id'], dist=g['s12']/1000, cost1 = cost)
    distance = nx.get_edge_attributes(G, 'dist')
    c = nx.get_edge_attributes(G, 'cost1')
    print(f"Distance: {distance[(0, row['id'])]}, Cost: {c}")



#print(G.nodes())  
#print(G.edges()) 
longi = nx.get_node_attributes(G, "longitude")
#print(float(longi[1])) 

Supplier_Countries["Distance_from_us"] = distance1
Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
Supplier_Countries["Time_Taken"] = time1

nx.draw(G)'''

Supplier_Countries = distance_calc(Supplier_Countries, us)

In [31]:
# Randomizing variables for each order and adding specific materials supplied by each city and theor individual material costs
def Supplier_func_Week(Supplier_dataframe):
  Var1 = 0
  vol = []
  time2 = []
  Supplier_dataframe.sort_values(by = 'country', inplace=True)
  Supplier_dataframe['Material'] = ['Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_2']
  Supplier_dataframe['Material_Costs'] = [5,6,12,7.5,7,10,8,8,11,10]
  for i in range(1,len(Supplier_Countries)+1):
    time2.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1500,2000))
    elif i in [2,5,8,10]:
      vol.append(random.randint(3000,3500))
    else:
      vol.append(random.randint(1000, 1250))
  Supplier_dataframe['Volume'] = vol
  Supplier_dataframe["Time_Taken"] = time2
  #Setting time from low to high depending on the distance from the manufacturing center.

  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  time2.sort()
  
  #supply=Supplier_dataframe.groupby("Material").Volume.sum()
  Supplier_dataframe['Total_Costs'] = (Supplier_dataframe['Material_Costs']*Supplier_dataframe["Volume"])*(Supplier_dataframe['Distance_from_us']/10000)
  #cost_var = Supplier_dataframe.groupby("Material").Total_Costs.sum()
  #citywise_cost = Supplier_dataframe.groupby(['Material','city','Distance_from_us']).Total_Costs.sum()
  Supplier_dataframe['Per_Unit_Price'] = Supplier_dataframe.Total_Costs/Supplier_dataframe.Volume
  #if len(city_name) > 0:
  #  Var1 = Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())][['Material','city','Volume']]
    #Supplier_Countries.at((Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())].index),'Volume') = 0
  return Supplier_dataframe
Supplier_func_Week(Supplier_Countries.copy())

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,Volume,Distance_from_us,Material,Material_Costs,Time_Taken,Total_Costs,Per_Unit_Price
7,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22118000.0,1156073548,1893,11892.421516,Material_1,5.0,1,11256.176965,5.946211
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,21489000.0,1156237133,3311,12899.735317,Material_2,6.0,3,25626.614180,7.739841
34,Paris,Paris,48.8566,2.3522,France,FR,FRA,Île-de-France,primary,11027000.0,1250015082,1015,5848.624736,Material_3,12.0,2,7123.624929,7.018350
937,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,868277.0,1250774071,1649,6316.399245,Material_1,7.5,4,7811.806766,4.737299
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604,3285,11770.780931,Material_2,7.0,7,27066.910752,8.239547
6,Mumbai,Mumbai,19.0758,72.8775,India,IN,IND,Mahārāshtra,admin,22186000.0,1356226629,1191,12554.672401,Material_3,10.0,10,14952.614830,12.554672
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764,1685,10875.131358,Material_1,8.0,7,14659.677071,8.700105
18,Ōsaka,Osaka,34.7520,135.4582,Japan,JP,JPN,Ōsaka,admin,15490000.0,1392419823,3022,11127.301019,Material_2,8.0,8,26901.362944,8.901841
5,Seoul,Seoul,37.5600,126.9900,South Korea,KR,KOR,Seoul,primary,22394000.0,1410836482,1061,11081.715312,Material_3,11.0,7,12933.469940,12.189887
220,Busan,Busan,35.1000,129.0403,South Korea,KR,KOR,Busan,admin,3453198.0,1410601465,3166,11290.184512,Material_2,10.0,3,35744.724165,11.290185

In [6]:
Sup_df = Supplier_func_Week(Supplier_Countries)
Material_1_inventory = Sup_df.loc[Sup_df.Material == 'Material_1']
Mat1 = 9000
# Function to return the exact amount of material required based on order qty. Maximum material supplied is provided from the cheapest supplier.
# Minimum material is obtained from the most expensive supplier. 
def Material_Return(Material_inventory, M1):
  Material_inventory.sort_values(by = ['Material','Per_Unit_Price'], inplace = True)
  supplier_number = len(Material_inventory)
  mat_dict = {}
  mat_dict[Material_inventory.Material.unique()[0]] = []
  count = 0
  # Checking for material volume provided by supplier being equal to or exceeding the required volume of material
  # If it does then break the loop else keep appending the material provided into a dictionary.
  for index,row in Material_inventory.iterrows():
      count = count + 1
      if M1 - row['Volume'] == 0:
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
        break
      elif M1 - row['Volume'] < 0:
        row1 = pd.DataFrame()
        row1['city'] = [row['city']]
        row1['Volume'] = [M1]
        row1['Total_Costs'] = [M1*row['Per_Unit_Price']]
        row1['Time_Taken']=row['Time_Taken']
        mat_dict[row['Material']].append(row1.iloc[0])
        break
      else:
        M1 = M1 - row['Volume']
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
  return mat_dict

Material_Return(Material_1_inventory, Mat1)

{'Material_1': [city           Marseille
  Volume              1113
  Total_Costs      5272.61
  Time_Taken             5
  Name: 937, dtype: object,
  city           Shanghai
  Volume             1142
  Total_Costs     6790.57
  Time_Taken            9
  Name: 7, dtype: object,
  city             Tokyo
  Volume            1094
  Total_Costs    9517.91
  Time_Taken           1
  Name: 0, dtype: object]}

In [7]:
#Function to obtain dataframe slice which provided the specific material and demand for each material. 
# Returns a dictionary for each of the 3 materials provided
def percentage_distr(M1, M2, M3, df):
  Material_1_inventory = df.loc[df.Material == 'Material_1']
  Material_2_inventory = df.loc[df.Material == 'Material_2']
  Material_3_inventory = df.loc[df.Material == 'Material_3']
  return Material_Return(Material_1_inventory, M1), Material_Return(Material_2_inventory, M2), Material_Return(Material_3_inventory, M3)

#Function to create a dataframe with the required material amounts. This dataframe is regenerated every 10 days 
def Supply_run(var1):
  var2 = {}
  var3 = {}
  count = 0
  df_1 = pd.DataFrame()
  for value in var1:
    var2.update(value)
  for value in var2.keys():
    var3 = {}
    for value1 in range(0, len(var2[value])):
      var3['Material'] = value
      var3['city'] = var2[value][value1]['city']
      var3['Volume'] = var2[value][value1]['Volume']
      var3['Total_Costs'] = var2[value][value1]['Total_Costs']
      var3['Time_Taken'] = var2[value][value1]['Time_Taken']
      df_1 = df_1.append([var3], ignore_index= True)
  return df_1

In [8]:
#Manufacturing inventory 
def manufacturing_inventory_load():
  in_fac = []

  max_storage = {"Material1":10000, 'Material2':20000, 'Material3':10000}
  manu_capacity_per_day = 40
  unit = {"Material1": 10, "Material2":20, "Material3":5}
  needed_daily = {"Material1":400, 'Material2':800, 'Material3':200}
  needed_weekly = {"Material1":2800, 'Material2':5600, 'Material3':1400}

  for i in range(0,3):
    in_fac.append(random.randint(5000,7000))


  m_inventory = {'Name':['Material1', 'Material2', 'Material3'],
          'In_Factory': in_fac, 'Needed_Daily': list(needed_daily.values()), "Needed_Weekly" : list(needed_weekly.values())}

  deficit = [0,0,0]

  #print(m_inventory['In_Factory'])
  # Create DataFrame
  manufacturing_inventory = pd.DataFrame(m_inventory)
  #print(manufacturing_inventory.loc[manufacturing_inventory['Name']=='Material1'].Needed_Weekly)
  
  # Print the output.   
  return manufacturing_inventory
manufacturing_inventory_load()

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6120           400           2800
1  Material2        6218           800           5600
2  Material3        5405           200           1400

In [9]:
#Days to complete the order 
def days_to_make_items(qty):
  manu_capacity_per_day = 40
  days_needed = math.ceil(qty/manu_capacity_per_day)
  return days_needed

#Number of materials needed to complete the order 
def qty_to_make_items(manufacturing_inventory, quantity):
  need1 = 0
  need2 = 0
  need3 = 0
  unit = {"Material1": 10, "Material2":20, "Material3":5}
  m1_needed = unit['Material1']*quantity
  m2_needed = unit['Material2']*quantity
  m3_needed = unit['Material3']*quantity
  if manufacturing_inventory['In_Factory'][0] < m1_needed:
    need1 = m1_needed - manufacturing_inventory['In_Factory'][0]
    print(f"Material 1 needed: {need1}")
  else:
    print(f"Material 1 present: {m1_needed}")
  if manufacturing_inventory['In_Factory'][1] < m2_needed:
    need2 = m2_needed - manufacturing_inventory['In_Factory'][1]
    print(f"Material 2 needed: {need2}")
  else:
    print(f"Material 2 present: {m2_needed}")
  if manufacturing_inventory['In_Factory'][2] < m3_needed:
    need3 = m3_needed - manufacturing_inventory['In_Factory'][2]
    print(f"Material 3 needed: {need3}")
  else:
    print(f"Material 3 present: {m3_needed}")
  return need1, need2, need3

In [10]:
#Seeing for random order numbers

def orders(manufacturing_inven, qty):
  mat_req = []
  #for i in range(0,1):
  req = random.randint(400,1000)
  print(f"For order qty: {qty}")
  M1,M2,M3 = qty_to_make_items(manufacturing_inven, qty)
  mat_req.append(M1)
  mat_req.append(M2)
  mat_req.append(M3)
  return(mat_req)
  
#orders
#mat_req

In [11]:
#daily simulation

#days = math.floor(min(manufacturing_inventory['In_Factory']/manufacturing_inventory['Needed Daily']))
#days

In [12]:
#to_supplier = [orders()]

In [13]:
# days to complete the order

def days_to_complete(order_qty):
  manu_capacity_per_day = 40
  days_to_complete = math.ceil(order_qty/manu_capacity_per_day)
  return days_to_complete

In [14]:
#Reducing inventory level each day
'''
day = 1
flag = 0
count = 1
Df1 = Supplier_func_Week(Supplier_Countries.copy())
for i in range(0,days_to_complete(600)):
  print(f"Day : {day}")
  for index, row in manufacturing_inventory.iterrows():
    count +=1
    sub = row['In_Factory']- row['Needed Daily']
    if sub<= 0 :
      manufacturing_inventory.at[index,'In_Factory'] = 0
      flag = 1
    else:
      #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
      manufacturing_inventory.at[index,'In_Factory'] = sub
  count = count + 1
  day+=1
  print(manufacturing_inventory)
  if flag ==1:
    break

'''
#deficit

'\nday = 1\nflag = 0\ncount = 1\nDf1 = Supplier_func_Week(Supplier_Countries.copy())\nfor i in range(0,days_to_complete(600)):\n  print(f"Day : {day}")\n  for index, row in manufacturing_inventory.iterrows():\n    count +=1\n    sub = row[\'In_Factory\']- row[\'Needed Daily\']\n    if sub<= 0 :\n      manufacturing_inventory.at[index,\'In_Factory\'] = 0\n      flag = 1\n    else:\n      #manufacturing_inventory.iloc[index].replace(to_replace=row[\'In_Factory\'], value = sub)\n      manufacturing_inventory.at[index,\'In_Factory\'] = sub\n  count = count + 1\n  day+=1\n  print(manufacturing_inventory)\n  if flag ==1:\n    break\n\n'

In [15]:
#Reducing inventory level each day
'''
day = 1
flag = 0
count = 1
Df1 = Supplier_func_Week(Supplier_Countries.copy())
Df2 = Supply_run(percentage_distr(mat_req[0],mat_req[1],mat_req[2],Df1))
for i in range(0,days_to_complete(900)):
  supply_df = Df2.loc[Df2.Time_Taken == i]
  if len(supply_df) > 0:
    if len(supply_df.loc[supply_df.Material == 'Material_1']) > 0:
      manufacturing_inventory.at[0, 'In_Factory'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == 'Material_1'].Volume.sum()
    if len(supply_df.loc[supply_df.Material == 'Material_2']) > 0:
      manufacturing_inventory.at[1, 'In_Factory'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == 'Material_2'].Volume.sum()
      if len(supply_df.loc[supply_df.Material == 'Material_3']) > 0:
        manufacturing_inventory.at[2, 'In_Factory'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == 'Material_3'].Volume.sum()
  print(supply_df)
  print(f"Day : {day}")
  for index, row in manufacturing_inventory.iterrows():
    count +=1
    sub = row['In_Factory']- row['Needed Daily']
    if sub<= 0 :
      manufacturing_inventory.at[index,'In_Factory'] = 0
      flag = 1
    else:
      #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
      manufacturing_inventory.at[index,'In_Factory'] = sub
  count = count + 1
  day+=1
  print(manufacturing_inventory)
  if flag ==1:
    break
'''

'\nday = 1\nflag = 0\ncount = 1\nDf1 = Supplier_func_Week(Supplier_Countries.copy())\nDf2 = Supply_run(percentage_distr(mat_req[0],mat_req[1],mat_req[2],Df1))\nfor i in range(0,days_to_complete(900)):\n  supply_df = Df2.loc[Df2.Time_Taken == i]\n  if len(supply_df) > 0:\n    if len(supply_df.loc[supply_df.Material == \'Material_1\']) > 0:\n      manufacturing_inventory.at[0, \'In_Factory\'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == \'Material_1\'].Volume.sum()\n    if len(supply_df.loc[supply_df.Material == \'Material_2\']) > 0:\n      manufacturing_inventory.at[1, \'In_Factory\'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == \'Material_2\'].Volume.sum()\n      if len(supply_df.loc[supply_df.Material == \'Material_3\']) > 0:\n        manufacturing_inventory.at[2, \'In_Factory\'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == \'Material_3\'].Volume.sum()\n  print(supply_df)\n  print(f"Day : {day}")\n  for index, row in manufacturing_inventory.iterrows():\n    count +=1\n    sub = row[\'In_Factory\']- row[\'Needed Daily\']\n    if sub<= 0 :\n      manufacturing_inventory.at[index,\'In_Factory\'] = 0\n      flag = 1\n    else:\n      #manufacturing_inventory.iloc[index].replace(to_replace=row[\'In_Factory\'], value = sub)\n      manufacturing_inventory.at[index,\'In_Factory\'] = sub\n  count = count + 1\n  day+=1\n  print(manufacturing_inventory)\n  if flag ==1:\n    break\n'

In [16]:
'''
#Reducing inventory level each day
if __name__ == "__main__":
  Supplier_Countries, us = Dataframe_Load()
  Supplier_Countries = value_add(Supplier_Countries)
  Supplier_Countries = distance_calc(Supplier_Countries, us)
  manufacturing_inventory = manufacturing_inventory_load()
  day = 1
  flag = 0
  count_days = -1
  inventory = 0
  losses = 0
  costs = 0
  count = 0
  qty = random.randint(4000,10000)
  days_lost = 0
  Df1 = Supplier_func_Week(Supplier_Countries.copy())
  list_req2 = []
  list_req2 = orders(manufacturing_inventory, qty)
  print(Df1)
  Df2 = Supply_run(percentage_distr(list_req2[0],list_req2[1],list_req2[2],Df1))
  print(Df2)
  

  for i in range(0,1000):
    for i in range(0,days_to_complete(qty)):
      count_days = count_days + 1
      supply_df = Df2.loc[Df2.Time_Taken == i]
      if count_days%10 ==0 and count_days > 0:
        list_req = orders(manufacturing_inventory, (qty-inventory))
        Df2 = Supply_run(percentage_distr(list_req[0],list_req[1],list_req[2],Df1))
        no_of_iter = count_days/10
        Df2['Time_Taken'] = Df2.Time_Taken + (10*no_of_iter) 
        print(Df2) 
      print("The materials supplied this iteration are:- \n", supply_df)
      if len(supply_df) > 0:
        if len(supply_df.loc[supply_df.Material == 'Material_1']) > 0:
          manufacturing_inventory.at[0, 'In_Factory'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == 'Material_1'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_1'].Total_Costs.sum()   
        if len(supply_df.loc[supply_df.Material == 'Material_2']) > 0:
          manufacturing_inventory.at[1, 'In_Factory'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == 'Material_2'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_2'].Total_Costs.sum()
        if len(supply_df.loc[supply_df.Material == 'Material_3']) > 0:
          manufacturing_inventory.at[2, 'In_Factory'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == 'Material_3'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_3'].Total_Costs.sum()
      print(costs)
      print(f"Day : {day}")

      for index, row in manufacturing_inventory.iterrows():
        if min(manufacturing_inventory["In_Factory"]) <= 0:
          flag = 1
          break  
        count +=1
        sub = row['In_Factory']- row['Needed Daily']
        if sub<= 0 :
          manufacturing_inventory.at[index,'In_Factory'] = 0
          flag = 1
        else:
          #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
          manufacturing_inventory.at[index,'In_Factory'] = sub
          flag = 0
      day+=1
      print(manufacturing_inventory)
      if flag !=1:
        inventory = inventory + 40
      else:
        days_lost = days_lost + 1
        losses = losses + 40
        print("Inventory is: ", inventory)
    
  
  #---------------------#

  
  try:
    
    print("Number of days taken: ", day)
    print("Number of goods made are: ", inventory)
    print("Number of days goods could not be made: ", days_lost )
    print("Total Cost of the order is: ", costs)
    print("Price per good is: ", costs/inventory)
    var0 = costs/qty
    print("Losses made are: ", losses*var0)
    print(f"Optimized cost is: {(costs/3)}")
    print(f"Optimized days lost is: {(days_lost/3)}")
    print(f"Optimized price per good is: {(costs/inventory/3)}")
    print(f"Optimized loss per good is: {(losses*var0/3)}")
  except:
    pass
'''

'\n#Reducing inventory level each day\nif __name__ == "__main__":\n  Supplier_Countries, us = Dataframe_Load()\n  Supplier_Countries = value_add(Supplier_Countries)\n  Supplier_Countries = distance_calc(Supplier_Countries, us)\n  manufacturing_inventory = manufacturing_inventory_load()\n  day = 1\n  flag = 0\n  count_days = -1\n  inventory = 0\n  losses = 0\n  costs = 0\n  count = 0\n  qty = random.randint(4000,10000)\n  days_lost = 0\n  Df1 = Supplier_func_Week(Supplier_Countries.copy())\n  list_req2 = []\n  list_req2 = orders(manufacturing_inventory, qty)\n  print(Df1)\n  Df2 = Supply_run(percentage_distr(list_req2[0],list_req2[1],list_req2[2],Df1))\n  print(Df2)\n  \n\n  for i in range(0,1000):\n    for i in range(0,days_to_complete(qty)):\n      count_days = count_days + 1\n      supply_df = Df2.loc[Df2.Time_Taken == i]\n      if count_days%10 ==0 and count_days > 0:\n        list_req = orders(manufacturing_inventory, (qty-inventory))\n        Df2 = Supply_run(percentage_distr(list_req[0],list_req[1],list_req[2],Df1))\n        no_of_iter = count_days/10\n        Df2[\'Time_Taken\'] = Df2.Time_Taken + (10*no_of_iter) \n        print(Df2) \n      print("The materials supplied this iteration are:- \n", supply_df)\n      if len(supply_df) > 0:\n        if len(supply_df.loc[supply_df.Material == \'Material_1\']) > 0:\n          manufacturing_inventory.at[0, \'In_Factory\'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == \'Material_1\'].Volume.sum()\n          costs = costs +  supply_df.loc[supply_df.Material == \'Material_1\'].Total_Costs.sum()   \n        if len(supply_df.loc[supply_df.Material == \'Material_2\']) > 0:\n          manufacturing_inventory.at[1, \'In_Factory\'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == \'Material_2\'].Volume.sum()\n          costs = costs +  supply_df.loc[supply_df.Material == \'Material_2\'].Total_Costs.sum()\n        if len(supply_df.loc[supply_df.Material == \'Material_3\']) > 0:\n          manufacturing_inventory.at[2, \'In_Factory\'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == \'Material_3\'].Volume.sum()\n          costs = costs +  supply_df.loc[supply_df.Material == \'Material_3\'].Total_Costs.sum()\n      print(costs)\n      print(f"Day : {day}")\n\n      for index, row in manufacturing_inventory.iterrows():\n        if min(manufacturing_inventory["In_Factory"]) <= 0:\n          flag = 1\n          break  \n        count +=1\n        sub = row[\'In_Factory\']- row[\'Needed Daily\']\n        if sub<= 0 :\n          manufacturing_inventory.at[index,\'In_Factory\'] = 0\n          flag = 1\n        else:\n          #manufacturing_inventory.iloc[index].replace(to_replace=row[\'In_Factory\'], value = sub)\n          manufacturing_inventory.at[index,\'In_Factory\'] = sub\n          flag = 0\n      day+=1\n      print(manufacturing_inventory)\n      if flag !=1:\n        inventory = inventory + 40\n      else:\n        days_lost = days_lost + 1\n        losses = losses + 40\n        print("Inventory is: ", inventory)\n    \n  \n  #---------------------#\n\n  \n  try:\n    \n    print("Number of days taken: ", day)\n    print("Number of goods made are: ", inventory)\n    print("Number of days goods could not be made: ", days_lost )\n    print("Total Cost of the order is: ", costs)\n    print("Price per good is: ", costs/inventory)\n    var0 = costs/qty\n    print("Losses made are: ", losses*var0)\n    print(f"Optimized cost is: {(costs/3)}")\n    print(f"Optimized days lost is: {(days_lost/3)}")\n    print(f"Optimized price per good is: {(costs/inventory/3)}")\n    print(f"Optimized loss per good is: {(losses*var0/3)}")\n  except:\n    pass\n'

In [33]:

#Reducing inventory level each day
if __name__ == "__main__":
  try:
      no_of_iterations = int(input("Please enter the number of times you wish for the simulation to run: "))
  except:
    print("Please enter an integer")
  Supplier_Countries, us = Dataframe_Load()
  Supplier_Countries = value_add(Supplier_Countries)
  Supplier_Countries = distance_calc(Supplier_Countries, us)
  manufacturing_inventory = manufacturing_inventory_load()
  day = 1
  flag = 0
  count = 0
  count_days = -1
  inventory = 0
  losses = 0
  costs = 0
  no_ordered = 0
  qty = random.randint(4000,10000)
  days_lost = 0
  Df1 = Supplier_func_Week(Supplier_Countries.copy())
  list_req2 = []
  list_req2 = orders(manufacturing_inventory, qty)
  print(list_req2)
  Df2 = Supply_run(percentage_distr(list_req2[0],list_req2[1],list_req2[2],Df1))
  print(Df2)

  for j in range(0,no_of_iterations):
    qty = random.randint(4000,10000)
    no_ordered += qty
    for i in range(0,days_to_complete(qty)):
      count_days = count_days + 1
      supply_df = Df1.loc[Df1.Time_Taken == i]
      if count_days%10 ==0 and count_days > 0:
        list_req = orders(manufacturing_inventory, (qty-inventory))
        Df1 = Supplier_func_Week(Supplier_Countries.copy())
        print('material3 required: ', list_req[2])
        no_of_iter = count_days/10
        Df1['Time_Taken'] = Df1.Time_Taken + (10*no_of_iter) 
        print(Df1) 
      print("The materials supplied this iteration are:- \n", supply_df)
      if len(supply_df) > 0:
        if len(supply_df.loc[supply_df.Material == 'Material_1']) > 0:
          manufacturing_inventory.at[0, 'In_Factory'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == 'Material_1'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_1'].Total_Costs.sum()   
        if len(supply_df.loc[supply_df.Material == 'Material_2']) > 0:
          manufacturing_inventory.at[1, 'In_Factory'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == 'Material_2'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_2'].Total_Costs.sum()
        if len(supply_df.loc[supply_df.Material == 'Material_3']) > 0:
          manufacturing_inventory.at[2, 'In_Factory'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == 'Material_3'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_3'].Total_Costs.sum()
      print(costs)
      print(f"Day : {day}")

      for index, row in manufacturing_inventory.iterrows():
        if min(manufacturing_inventory["In_Factory"]) <= 0:
          flag = 1
          break  
        count +=1
        sub = row['In_Factory']- row['Needed_Daily']
        if sub<= 0 :
          manufacturing_inventory.at[index,'In_Factory'] = 0
          flag = 1
        else:
          #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
          manufacturing_inventory.at[index,'In_Factory'] = sub
          flag = 0
      day+=1
      print(manufacturing_inventory)
      if flag !=1:
        inventory = inventory + 40
      else:
        days_lost = days_lost + 1
        losses = losses + 40
        print("Inventory is: ", inventory)



  #print("Number of goods made are: ", inventory)
  #print("Number of days goods could not be made: ", days_lost )
  #print("Total Cost of the order is: ", costs)

  list_days_lost = []
  list_days_lost.append(days_lost)

  total_sales_value = costs/no_ordered
  Total_losses_made = losses*total_sales_value
  #print("Price per good to counter the loss is: ", costs/inventory)
  #print("Price the godds should have been if order quantity could be completed: ", costs/qty)
  var0 = costs/inventory
  print("Total Losses made are: ", Total_losses_made)
  print(f"Average Non Optimized cost for order quantity of {no_ordered} is: {(costs/no_of_iterations)}")
  print(f"Average Non Optimized days lost is: {(days_lost/no_of_iterations)}")
  print(f"Average Non Optimized price per good is: {(var0)}")
  print("Average Price the goods should have been is: ", total_sales_value)

Please enter the number of times you wish for the simulation to run: 2
For order qty: 9659
Material 1 needed: 90731
Material 2 needed: 188097
Material 3 needed: 42230
[90731, 188097, 42230]
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1779   8427.655692           8
1  Material_1   Shanghai    1573   9353.389523           1
2  Material_1      Tokyo    1595  13876.667613           8
3  Material_2  Guangzhou    3480  26934.647341           7
4  Material_2      Delhi    3038  25031.742729           5
5  Material_2      Ōsaka    3360  29910.185140           2
6  Material_2      Busan    3233  36501.166528          10
7  Material_3      Paris    1179   8274.634277           2
8  Material_3      Seoul    1194  14554.724891           5
9  Material_3     Mumbai    1127  14149.115796           5
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
0
Day : 1
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5459           400           2800
1  Material2        4283           800           5600
2  Material3        5865           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1573      11892.421516  Material_1

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
7             5.0           1  9353.389523        5.946211
9353.389522606409
Day : 2
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6632           400           2800
1  Material2        3483           800           5600
2  Material3        5665           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France
18  Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN          Ōsaka

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1179       5848.624736  Material_3
18    admin  15490000.0  1392419823    3360      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
34            12.0           2   8274.634277        7.018350
18             8.0           2  29910.185140        8.901841
47538.20893912926
Day : 3
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6232           400           2800
1  Material2        6043           800           5600
2  Material3        6644           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
47538.20893912926
Day : 4
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5832           400           2800
1  Material2        5243           800           5600
2  Material3        6444           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
47538.20893912926
Day : 5
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5432           400           2800
1  Material2        4443           800           5600
2  Material3        6244           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng      country iso2 iso3   admin_name  \
2   Delhi      Delhi  28.6667   77.2167        India   IN  IND        Delhi
6  Mumbai     Mumbai  19.0758   72.8775        India   IN  IND  Mahārāshtra
5   Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR        Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
2    admin  31870000.0  1356872604    3038      11770.780931  Material_2
6    admin  22186000.0  1356226629    1127      12554.672401  Material_3
5  primary  22394000.0  1410836482    1194      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0           5  25031.742729        8.239547
6            10.0           5  14149.115796       12.554672
5            11.0           5  14554.724891       12.189887
101273.79235440804
Day : 6
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5032           400           2800
1  Material2        6681           800           5600
2  Material3        8365           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
101273.79235440804
Day : 7
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4632           400           2800
1  Material2        5881           800           5600
2  Material3        8165           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3480      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0           7  26934.647341        7.739841
128208.43969583904
Day : 8
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4232           400           2800
1  Material2        8561           800           5600
2  Material3        7965           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng country iso2 iso3  \
937  Marseille  Marseille  43.2964    5.3700  France   FR  FRA
0        Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN

                     admin_name  capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1779
0                         Tōkyō  primary  39105000.0  1392685764    1595

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5           8   8427.655692
0        10875.131358  Material_1             8.0           8  13876.667613

     Per_Unit_Price
937        4.737299
0          8.700105
150512.76300089486
Day : 9
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7206           400           2800
1  Material2        7761           800           5600
2  Material3        7765           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
150512.76300089486
Day : 10
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6806           400           2800
1  Material2        6961           800           5600
2  Material3        7565           200           1400
For order qty: 9011
Material 1 needed: 83304
Material 2 needed: 173259
Material 3 needed: 37490
material3 required:  37490
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1824
9                     Guangdong    admin  21489000.0  1156237133    3064
34                Île-de-France  primary  11027000.0  1250015082    1190
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1893
2                         Delhi    admin  31870000.0  1356872604    3277
6                   Mahārāshtra    admin  22186000.0  1356226629    1064
0                         Tōkyō  primary  39105000.0  1392685764    1931
18                        Ōsaka    admin  15490000.0  1392419823    3311
5                         Seoul  primary  22394000.0  1410836482    1044
220                       Busan    admin   3453198.0  1410601465    3015

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        12.0  10845.888423
9        12899.735317  Material_2             6.0        12.0  23714.873406
34        5848.624736  Material_3            12.0        20.0   8351.836124
937       6316.399245  Material_1             7.5        14.0   8967.707827
2        11770.780931  Material_2             7.0        14.0  27000.994379
6        12554.672401  Material_3            10.0        18.0  13358.171435
0        10875.131358  Material_1             8.0        18.0  16799.902922
18       11127.301019  Material_2             8.0        11.0  29473.994940
5        11081.715312  Material_3            11.0        18.0  12726.241864
220      11290.184512  Material_2            10.0        18.0  34039.906304

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3233      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0          10  36501.166528       11.290185
187013.9295284724
Day : 11
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6406           400           2800
1  Material2        9394           800           5600
2  Material3        7365           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3311      11127.301019  Material_2

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
18             8.0        11.0  29473.99494        8.901841
216487.92446802795
Day : 12
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6006           400           2800
1  Material2       11905           800           5600
2  Material3        7165           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
7   Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1824      11892.421516  Material_1
9   admin  21489000.0  1156237133    3064      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0        12.0  10845.888423        5.946211
9             6.0        12.0  23714.873406        7.739841
251048.68629729922
Day : 13
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7430           400           2800
1  Material2       14169           800           5600
2  Material3        6965           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
251048.68629729922
Day : 14
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7030           400           2800
1  Material2       13369           800           5600
2  Material3        6765           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat      lng country iso2 iso3  \
937  Marseille  Marseille  43.2964   5.3700  France   FR  FRA
2        Delhi      Delhi  28.6667  77.2167   India   IN  IND

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1893
2                         Delhi   admin  31870000.0  1356872604    3277

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5        14.0   8967.707827
2        11770.780931  Material_2             7.0        14.0  27000.994379

     Per_Unit_Price
937        4.737299
2          8.239547
287017.3885032976
Day : 15
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8523           400           2800
1  Material2       15846           800           5600
2  Material3        6565           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
287017.3885032976
Day : 16
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8123           400           2800
1  Material2       15046           800           5600
2  Material3        6365           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
287017.3885032976
Day : 17
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7723           400           2800
1  Material2       14246           800           5600
2  Material3        6165           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
287017.3885032976
Day : 18
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7323           400           2800
1  Material2       13446           800           5600
2  Material3        5965           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng      country iso2 iso3   admin_name  \
6    Mumbai     Mumbai  19.0758   72.8775        India   IN  IND  Mahārāshtra
0     Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN        Tōkyō
5     Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR        Seoul
220   Busan      Busan  35.1000  129.0403  South Korea   KR  KOR        Busan

     capital  population          id  Volume  Distance_from_us    Material  \
6      admin  22186000.0  1356226629    1064      12554.672401  Material_3
0    primary  39105000.0  1392685764    1931      10875.131358  Material_1
5    primary  22394000.0  1410836482    1044      11081.715312  Material_3
220    admin   3453198.0  1410601465    3015      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6              10.0        18.0  13358.171435       12.554672
0               8.0        18.0  16799.902922        8.700105
5              11.0        18.0  12726.241864       12.189887
220            10.0        18.0  34039.906304       11.290185
363941.6110281718
Day : 19
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8854           400           2800
1  Material2       15661           800           5600
2  Material3        7873           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
363941.6110281718
Day : 20

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8454           400           2800
1  Material2       14861           800           5600
2  Material3        7673           200           1400
For order qty: 8611
Material 1 needed: 77656
Material 2 needed: 157359
Material 3 needed: 35382
material3 required:  35382
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1883
9                     Guangdong    admin  21489000.0  1156237133    3412
34                Île-de-France  primary  11027000.0  1250015082    1138
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1791
2                         Delhi    admin  31870000.0  1356872604    3311
6                   Mahārāshtra    admin  22186000.0  1356226629    1112
0                         Tōkyō  primary  39105000.0  1392685764    1693
18                        Ōsaka    admin  15490000.0  1392419823    3340
5                         Seoul  primary  22394000.0  1410836482    1186
220                       Busan    admin   3453198.0  1410601465    3067

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        29.0  11196.714858
9        12899.735317  Material_2             6.0        26.0  26408.338141
34        5848.624736  Material_3            12.0        29.0   7986.881940
937       6316.399245  Material_1             7.5        29.0   8484.503285
2        11770.780931  Material_2             7.0        27.0  27281.138965
6        12554.672401  Material_3            10.0        23.0  13960.795710
0        10875.131358  Material_1             8.0        26.0  14729.277912
18       11127.301019  Material_2             8.0        21.0  29732.148323
5        11081.715312  Material_3            11.0        21.0  14457.205796
220      11290.184512  Material_2            10.0        30.0  34626.995899

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1190       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0        20.0  8351.836124         7.01835
372293.447151708
Day : 21
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8054           400           2800
1  Material2       14061           800           5600
2  Material3        8663           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng      country iso2 iso3 admin_name  \
18  Ōsaka      Osaka  34.752  135.4582        Japan   JP  JPN      Ōsaka
5   Seoul      Seoul  37.560  126.9900  South Korea   KR  KOR      Seoul

    capital  population          id  Volume  Distance_from_us    Material  \
18    admin  15490000.0  1392419823    3340      11127.301019  Material_2
5   primary  22394000.0  1410836482    1186      11081.715312  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0        21.0  29732.148323        8.901841
5             11.0        21.0  14457.205796       12.189887
416482.8012706895
Day : 22
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7654           400           2800
1  Material2       16601           800           5600
2  Material3        9649           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
416482.8012706895
Day : 23
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7254           400           2800
1  Material2       15801           800           5600
2  Material3        9449           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1112      12554.672401  Material_3

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
6            10.0        23.0  13960.79571       12.554672
430443.5969806845
Day : 24
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6854           400           2800
1  Material2       15001           800           5600
2  Material3       10361           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
430443.5969806845
Day : 25
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6454           400           2800
1  Material2       14201           800           5600
2  Material3       10161           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
430443.5969806845
Day : 26
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6054           400           2800
1  Material2       13401           800           5600
2  Material3        9961           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
0      Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3412      12899.735317  Material_2
0  primary  39105000.0  1392685764    1693      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0        26.0  26408.338141        7.739841
0             8.0        26.0  14729.277912        8.700105
471581.213032705
Day : 27
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7347           400           2800
1  Material2       16013           800           5600
2  Material3        9761           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3311      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0        27.0  27281.138965        8.239547
498862.3519974404
Day : 28
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6947           400           2800
1  Material2       18524           800           5600
2  Material3        9561           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
498862.3519974404
Day : 29
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6547           400           2800
1  Material2       17724           800           5600
2  Material3        9361           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN
34       Paris      Paris  48.8566    2.3522  France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700  France   FR  FRA

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1883
34                Île-de-France  primary  11027000.0  1250015082    1138
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1791

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        29.0  11196.714858
34        5848.624736  Material_3            12.0        29.0   7986.881940
937       6316.399245  Material_1             7.5        29.0   8484.503285

     Per_Unit_Price
7          5.946211
34         7.018350
937        4.737299
526530.4520802909
Day : 30
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9821           400           2800
1  Material2       16924           800           5600
2  Material3       10299           200           1400
For order qty: 8211
Material 1 needed: 72289
Material 2 needed: 147296
Material 3 needed: 30756
material3 required:  30756
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1885
9                     Guangdong    admin  21489000.0  1156237133    3308
34                Île-de-France  primary  11027000.0  1250015082    1072
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1755
2                         Delhi    admin  31870000.0  1356872604    3450
6                   Mahārāshtra    admin  22186000.0  1356226629    1134
0                         Tōkyō  primary  39105000.0  1392685764    1625
18                        Ōsaka    admin  15490000.0  1392419823    3033
5                         Seoul  primary  22394000.0  1410836482    1220
220                       Busan    admin   3453198.0  1410601465    3109

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        34.0  11208.607279
9        12899.735317  Material_2             6.0        39.0  25603.394657
34        5848.624736  Material_3            12.0        38.0   7523.670861
937       6316.399245  Material_1             7.5        38.0   8313.960506
2        11770.780931  Material_2             7.0        31.0  28426.435949
6        12554.672401  Material_3            10.0        38.0  14236.998503
0        10875.131358  Material_1             8.0        39.0  14137.670766
18       11127.301019  Material_2             8.0        31.0  26999.283193
5        11081.715312  Material_3            11.0        40.0  14871.661948
220      11290.184512  Material_2            10.0        39.0  35101.183648

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3067      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0        30.0  34626.995899       11.290185
561157.447978862
Day : 31
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9421           400           2800
1  Material2       19191           800           5600
2  Material3       10099           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3 admin_name capital  \
2   Delhi      Delhi  28.6667   77.2167   India   IN  IND      Delhi   admin
18  Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
2   31870000.0  1356872604    3450      11770.780931  Material_2
18  15490000.0  1392419823    3033      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2              7.0        31.0  28426.435949        8.239547
18             8.0        31.0  26999.283193        8.901841
616583.1671211178
Day : 32
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9021           400           2800
1  Material2       24874           800           5600
2  Material3        9899           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
616583.1671211178
Day : 33
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8621           400           2800
1  Material2       24074           800           5600
2  Material3        9699           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
616583.1671211178
Day : 34
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8221           400           2800
1  Material2       23274           800           5600
2  Material3        9499           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1885      11892.421516  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0        34.0  11208.607279        5.946211
627791.7744002743
Day : 35
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9706           400           2800
1  Material2       22474           800           5600
2  Material3        9299           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
627791.7744002743
Day : 36
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9306           400           2800
1  Material2       21674           800           5600
2  Material3        9099           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
627791.7744002743
Day : 37
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8906           400           2800
1  Material2       20874           800           5600
2  Material3        8899           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
627791.7744002743
Day : 38
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8506           400           2800
1  Material2       20074           800           5600
2  Material3        8699           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat      lng country iso2 iso3  \
34       Paris      Paris  48.8566   2.3522  France   FR  FRA
937  Marseille  Marseille  43.2964   5.3700  France   FR  FRA
6       Mumbai     Mumbai  19.0758  72.8775   India   IN  IND

                     admin_name  capital  population          id  Volume  \
34                Île-de-France  primary  11027000.0  1250015082    1072
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1755
6                   Mahārāshtra    admin  22186000.0  1356226629    1134

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
34        5848.624736  Material_3            12.0        38.0   7523.670861
937       6316.399245  Material_1             7.5        38.0   8313.960506
6        12554.672401  Material_3            10.0        38.0  14236.998503

     Per_Unit_Price
34         7.018350
937        4.737299
6         12.554672
657866.4042695803
Day : 39
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9861           400           2800
1  Material2       19274           800           5600
2  Material3       10705           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng      country iso2 iso3  \
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

    admin_name  capital  population          id  Volume  Distance_from_us  \
9    Guangdong    admin  21489000.0  1156237133    3308      12899.735317
0        Tōkyō  primary  39105000.0  1392685764    1625      10875.131358
220      Busan    admin   3453198.0  1410601465    3109      11290.184512

       Material  Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9    Material_2             6.0        39.0  25603.394657        7.739841
0    Material_1             8.0        39.0  14137.670766        8.700105
220  Material_2            10.0        39.0  35101.183648       11.290185
732708.6533400279
Day : 40
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11086           400           2800

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10686           400           2800
1  Material2       24091           800           5600
2  Material3       11525           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
747580.3152884708
Day : 42
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10286           400           2800
1  Material2       23291           800           5600
2  Material3       11325           200           1400
The materials supplied this iteration are:-
          city city_ascii      lat       lng country iso2 iso3 admin_name  \
9   Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
18      Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3075      12899.735317  Material_2
18   admin  15490000.0  1392419823    3110      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9              6.0        42.0  23800.011659        7.739841
18             8.0        42.0  27684.724936        8.901841
799065.0518835993
Day : 43
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9886           400           2800
1  Material2       28676           800           5600
2  Material3       11125           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
799065.0518835993
Day : 44
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9486           400           2800
1  Material2       27876           800           5600
2  Material3       10925           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
0  Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary

   population          id  Volume  Distance_from_us    Material  \
0  39105000.0  1392685764    1793      10875.131358  Material_1

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
0             8.0        44.0  15599.28842        8.700105
814664.3403037675
Day : 45
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10879           400           2800
1  Material2       27076           800           5600
2  Material3       10725           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3173      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0        45.0  26144.081527        8.239547
840808.4218305284
Day : 46
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10479           400           2800
1  Material2       29449           800           5600
2  Material3       10525           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1011       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0        46.0   7095.55153         7.01835
847903.9733606924
Day : 47
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10079           400           2800
1  Material2       28649           800           5600
2  Material3       11336           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat     lng      country iso2 iso3  \
937  Marseille  Marseille  43.2964    5.37       France   FR  FRA
5        Seoul      Seoul  37.5600  126.99  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1546
5                         Seoul  primary  22394000.0  1410836482    1169

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5        47.0   7323.864924
5        11081.715312  Material_3            11.0        47.0  14249.977719

     Per_Unit_Price
937        4.737299
5         12.189887
869477.8160041831
Day : 48
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11225           400           2800
1  Material2       27849           800           5600
2  Material3       12305           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1028      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0        48.0  12906.203228       12.554672
882384.0192324879
Day : 49
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10825           400           2800
1  Material2       27049           800           5600
2  Material3       13133           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3417      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0        49.0  38578.560478       11.290185
920962.5797102895
Day : 50
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10425           400           2800
1  Material2       29666           800           5600
2  Material3       12933           200           1400
For order qty: 7411
Material 1 needed: 63685
Material 2 needed: 118554
Material 3 needed: 24122
material3 required:  24122
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1663
9                     Guangdong    admin  21489000.0  1156237133    3176
34                Île-de-France  primary  11027000.0  1250015082    1082
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1901
2                         Delhi    admin  31870000.0  1356872604    3455
6                   Mahārāshtra    admin  22186000.0  1356226629    1194
0                         Tōkyō  primary  39105000.0  1392685764    1943
18                        Ōsaka    admin  15490000.0  1392419823    3018
5                         Seoul  primary  22394000.0  1410836482    1120
220                       Busan    admin   3453198.0  1410601465    3386

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        58.0   9888.548491
9        12899.735317  Material_2             6.0        60.0  24581.735620
34        5848.624736  Material_3            12.0        60.0   7593.854358
937       6316.399245  Material_1             7.5        51.0   9005.606223
2        11770.780931  Material_2             7.0        52.0  28467.633683
6        12554.672401  Material_3            10.0        59.0  14990.278847
0        10875.131358  Material_1             8.0        53.0  16904.304183
18       11127.301019  Material_2             8.0        52.0  26865.755581
5        11081.715312  Material_3            11.0        53.0  13652.673264
220      11290.184512  Material_2            10.0        58.0  38228.564758

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1713      11892.421516  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0        50.0  10185.859029        5.946211
931148.4387390402
Day : 51
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11738           400           2800
1  Material2       28866           800           5600
2  Material3       12733           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1901

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5        51.0  9005.606223

     Per_Unit_Price
937        4.737299
940154.044961938
Day : 52
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13239           400           2800
1  Material2       28066           800           5600
2  Material3       12533           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3 admin_name capital  \
2   Delhi      Delhi  28.6667   77.2167   India   IN  IND      Delhi   admin
18  Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
2   31870000.0  1356872604    3455      11770.780931  Material_2
18  15490000.0  1392419823    3018      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2              7.0        52.0  28467.633683        8.239547
18             8.0        52.0  26865.755581        8.901841
995487.4342252238
Day : 53
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12839           400           2800
1  Material2       33739           800           5600
2  Material3       12333           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng      country iso2 iso3 admin_name  \
0  Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN      Tōkyō
5  Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR      Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
0  primary  39105000.0  1392685764    1943      10875.131358  Material_1
5  primary  22394000.0  1410836482    1120      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
0             8.0        53.0  16904.304183        8.700105
5            11.0        53.0  13652.673264       12.189887
1026044.4116725175
Day : 54
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14382           400           2800
1  Material2       32939           800           5600
2  Material3       13253           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1026044.4116725175
Day : 55
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13982           400           2800
1  Material2       32139           800           5600
2  Material3       13053           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1026044.4116725175
Day : 56
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13582           400           2800
1  Material2       31339           800           5600
2  Material3       12853           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1026044.4116725175
Day : 57
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13182           400           2800
1  Material2       30539           800           5600
2  Material3       12653           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1026044.4116725175
Day : 58
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12782           400           2800
1  Material2       29739           800           5600
2  Material3       12453           200           1400
The materials supplied this iteration are:-
          city city_ascii      lat       lng      country iso2 iso3 admin_name  \
7    Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN   Shanghai
220     Busan      Busan  35.1000  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
7     admin  22118000.0  1156073548    1663      11892.421516  Material_1
220   admin   3453198.0  1410601465    3386      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7               5.0        58.0   9888.548491        5.946211
220            10.0        58.0  38228.564758       11.290185
1074161.5249212864
Day : 59
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14045           400           2800
1  Material2       32325           800           5600
2  Material3       12253           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1194      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0        59.0  14990.278847       12.554672
1089151.8037681694
Day : 60
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13645           400           2800
1  Material2       31525           800           5600
2  Material3       13247           200           1400
For order qty: 7011
Material 1 needed: 56465
Material 2 needed: 108695
Material 3 needed: 21808
material3 required:  21808
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1785
9                     Guangdong    admin  21489000.0  1156237133    3410
34                Île-de-France  primary  11027000.0  1250015082    1011
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1600
2                         Delhi    admin  31870000.0  1356872604    3278
6                   Mahārāshtra    admin  22186000.0  1356226629    1133
0                         Tōkyō  primary  39105000.0  1392685764    1983
18                        Ōsaka    admin  15490000.0  1392419823    3295
5                         Seoul  primary  22394000.0  1410836482    1011
220                       Busan    admin   3453198.0  1410601465    3387

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        66.0  10613.986203
9        12899.735317  Material_2             6.0        65.0  26392.858458
34        5848.624736  Material_3            12.0        66.0   7095.551530
937       6316.399245  Material_1             7.5        64.0   7579.679093
2        11770.780931  Material_2             7.0        63.0  27009.233925
6        12554.672401  Material_3            10.0        66.0  14224.443830
0        10875.131358  Material_1             8.0        65.0  17252.308387
18       11127.301019  Material_2             8.0        67.0  29331.565487
5        11081.715312  Material_3            11.0        62.0  12323.975598
220      11290.184512  Material_2            10.0        61.0  38239.854942

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
          city city_ascii      lat       lng country iso2 iso3     admin_name  \
9   Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN      Guangdong
34      Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
9     admin  21489000.0  1156237133    3176      12899.735317  Material_2
34  primary  11027000.0  1250015082    1082       5848.624736  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9              6.0        60.0  24581.735620        7.739841
34            12.0        60.0   7593.854358        7.018350
1121327.393745523
Day : 61
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13245           400           2800
1  Material2       33901           800           5600
2  Material3       14129           200           1400

The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1011      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0        62.0  12323.975598       12.189887
1171891.2242862207
Day : 63
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12445           400           2800
1  Material2       35688           800           5600
2  Material3       14740           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3278      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0        63.0  27009.233925        8.239547
1198900.4582114404
Day : 64
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12045           400           2800
1  Material2       38166           800           5600
2  Material3       14540           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1600

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5        64.0  7579.679093

     Per_Unit_Price
937        4.737299
1206480.1373048841
Day : 65
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13245           400           2800
1  Material2       37366           800           5600
2  Material3       14340           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
0      Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3410      12899.735317  Material_2
0  primary  39105000.0  1392685764    1983      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0        65.0  26392.858458        7.739841
0             8.0        65.0  17252.308387        8.700105
1250125.3041496216
Day : 66
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14828           400           2800
1  Material2       39976           800           5600
2  Material3       14140           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3     admin_name  \
7   Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN       Shanghai
34     Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France
6     Mumbai     Mumbai  19.0758   72.8775   India   IN  IND    Mahārāshtra

    capital  population          id  Volume  Distance_from_us    Material  \
7     admin  22118000.0  1156073548    1785      11892.421516  Material_1
34  primary  11027000.0  1250015082    1011       5848.624736  Material_3
6     admin  22186000.0  1356226629    1133      12554.672401  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7              5.0        66.0  10613.986203        5.946211
34            12.0        66.0   7095.551530        7.018350
6             10.0        66.0  14224.443830       12.554672
1282059.2857135423
Day : 67
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16213           400           2800
1  Material2       39176           800           5600
2  Material3       16084           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3295      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0        67.0  29331.565487        8.901841
1311390.8512000525
Day : 68
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15813           400           2800
1  Material2       41671           800           5600
2  Material3       15884           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1311390.8512000525
Day : 69
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15413           400           2800
1  Material2       40871           800           5600
2  Material3       15684           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1311390.8512000525
Day : 70
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15013           400           2800
1  Material2       40071           800           5600
2  Material3       15484           200           1400
For order qty: 6611
Material 1 needed: 51097
Material 2 needed: 92149
Material 3 needed: 17571
material3 required:  17571
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1545
9                     Guangdong    admin  21489000.0  1156237133    3073
34                Île-de-France  primary  11027000.0  1250015082    1186
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1644
2                         Delhi    admin  31870000.0  1356872604    3088
6                   Mahārāshtra    admin  22186000.0  1356226629    1057
0                         Tōkyō  primary  39105000.0  1392685764    1746
18                        Ōsaka    admin  15490000.0  1392419823    3177
5                         Seoul  primary  22394000.0  1410836482    1186
220                       Busan    admin   3453198.0  1410601465    3233

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        75.0   9186.895621
9        12899.735317  Material_2             6.0        72.0  23784.531977
34        5848.624736  Material_3            12.0        78.0   8323.762725
937       6316.399245  Material_1             7.5        78.0   7788.120269
2        11770.780931  Material_2             7.0        78.0  25443.720061
6        12554.672401  Material_3            10.0        71.0  13270.288728
0        10875.131358  Material_1             8.0        75.0  15190.383481
18       11127.301019  Material_2             8.0        79.0  28281.148270
5        11081.715312  Material_3            11.0        75.0  14457.205796
220      11290.184512  Material_2            10.0        77.0  36501.166528

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1311390.8512000525
Day : 71
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14613           400           2800
1  Material2       39271           800           5600
2  Material3       15284           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1057      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0        71.0  13270.288728       12.554672
1324661.1399279884
Day : 72
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14213           400           2800
1  Material2       38471           800           5600
2  Material3       16141           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3073      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0        72.0  23784.531977        7.739841
1348445.6719050624
Day : 73
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13813           400           2800
1  Material2       40744           800           5600
2  Material3       15941           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1348445.6719050624
Day : 74
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13413           400           2800
1  Material2       39944           800           5600
2  Material3       15741           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1348445.6719050624
Day : 75
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13013           400           2800
1  Material2       39144           800           5600
2  Material3       15541           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng      country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN   Shanghai
0     Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN      Tōkyō
5     Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR      Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
7    admin  22118000.0  1156073548    1545      11892.421516  Material_1
0  primary  39105000.0  1392685764    1746      10875.131358  Material_1
5  primary  22394000.0  1410836482    1186      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0        75.0   9186.895621        5.946211
0             8.0        75.0  15190.383481        8.700105
5            11.0        75.0  14457.205796       12.189887
1387280.1568033223
Day : 76
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15904           400           2800
1  Material2       38344           800           5600
2  Material3       16527           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1387280.1568033223
Day : 77
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15504           400           2800
1  Material2       37544           800           5600
2  Material3       16327           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3233      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0        77.0  36501.166528       11.290185
1423781.3233308997
Day : 78
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15104           400           2800
1  Material2       39977           800           5600
2  Material3       16127           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat      lng country iso2 iso3  \
34       Paris      Paris  48.8566   2.3522  France   FR  FRA
937  Marseille  Marseille  43.2964   5.3700  France   FR  FRA
2        Delhi      Delhi  28.6667  77.2167   India   IN  IND

                     admin_name  capital  population          id  Volume  \
34                Île-de-France  primary  11027000.0  1250015082    1186
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1644
2                         Delhi    admin  31870000.0  1356872604    3088

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
34        5848.624736  Material_3            12.0        78.0   8323.762725
937       6316.399245  Material_1             7.5        78.0   7788.120269
2        11770.780931  Material_2             7.0        78.0  25443.720061

     Per_Unit_Price
34         7.018350
937        4.737299
2          8.239547
1465336.9263855566
Day : 79
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16348           400           2800
1  Material2       42265           800           5600
2  Material3       17113           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3177      11127.301019  Material_2

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
18             8.0        79.0  28281.14827        8.901841
1493618.074655858
Day : 80
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15948           400           2800
1  Material2       44642           800           5600
2  Material3       16913           200           1400
For order qty: 6211
Material 1 needed: 46162
Material 2 needed: 79578
Material 3 needed: 14142
material3 required:  14142
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1944
9                     Guangdong    admin  21489000.0  1156237133    3207
34                Île-de-France  primary  11027000.0  1250015082    1116
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1566
2                         Delhi    admin  31870000.0  1356872604    3291
6                   Mahārāshtra    admin  22186000.0  1356226629    1084
0                         Tōkyō  primary  39105000.0  1392685764    1632
18                        Ōsaka    admin  15490000.0  1392419823    3373
5                         Seoul  primary  22394000.0  1410836482    1203
220                       Busan    admin   3453198.0  1410601465    3088

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        84.0  11559.433714
9        12899.735317  Material_2             6.0        84.0  24821.670697
34        5848.624736  Material_3            12.0        87.0   7832.478247
937       6316.399245  Material_1             7.5        89.0   7418.610913
2        11770.780931  Material_2             7.0        83.0  27116.348032
6        12554.672401  Material_3            10.0        87.0  13609.264883
0        10875.131358  Material_1             8.0        87.0  14198.571501
18       11127.301019  Material_2             8.0        82.0  30025.909070
5        11081.715312  Material_3            11.0        83.0  14664.433872
220      11290.184512  Material_2            10.0        87.0  34864.089773

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1493618.074655858
Day : 81
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15548           400           2800
1  Material2       43842           800           5600
2  Material3       16713           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1493618.074655858
Day : 82
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15148           400           2800
1  Material2       43042           800           5600
2  Material3       16513           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3373      11127.301019  Material_2

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price

           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1566

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5        89.0  7418.610913

     Per_Unit_Price
937        4.737299
1679728.8853571827
Day : 90
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17090           400           2800
1  Material2       49601           800           5600
2  Material3       18316           200           1400
For order qty: 5811
Material 1 needed: 41020
Material 2 needed: 66619
Material 3 needed: 10739
material3 required:  10739
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1955
9                     Guangdong    admin  21489000.0  1156237133    3064
34                Île-de-France  primary  11027000.0  1250015082    1071
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1643
2                         Delhi    admin  31870000.0  1356872604    3382
6                   Mahārāshtra    admin  22186000.0  1356226629    1083
0                         Tōkyō  primary  39105000.0  1392685764    1514
18                        Ōsaka    admin  15490000.0  1392419823    3170
5                         Seoul  primary  22394000.0  1410836482    1232
220                       Busan    admin   3453198.0  1410601465    3000

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        99.0  11624.842032
9        12899.735317  Material_2             6.0        91.0  23714.873406
34        5848.624736  Material_3            12.0        98.0   7516.652511
937       6316.399245  Material_1             7.5        99.0   7783.382969
2        11770.780931  Material_2             7.0        96.0  27866.146777
6        12554.672401  Material_3            10.0        92.0  13596.710210
0        10875.131358  Material_1             8.0        98.0  13171.959101
18       11127.301019  Material_2             8.0       100.0  28218.835385
5        11081.715312  Material_3            11.0        96.0  15017.940591
220      11290.184512  Material_2            10.0        99.0  33870.553536

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1679728.8853571827
Day : 91
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16690           400           2800
1  Material2       48801           800           5600
2  Material3       18116           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3064      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0        91.0  23714.873406        7.739841
1703443.7587635461
Day : 92
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16290           400           2800
1  Material2       51065           800           5600
2  Material3       17916           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1083      12554.672401  Material_3

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
6            10.0        92.0  13596.71021       12.554672
1717040.46897391
Day : 93
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15890           400           2800
1  Material2       50265           800           5600
2  Material3       18799           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1717040.46897391
Day : 94
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15490           400           2800
1  Material2       49465           800           5600
2  Material3       18599           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1717040.46897391
Day : 95
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15090           400           2800
1  Material2       48665           800           5600
2  Material3       18399           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1717040.46897391
Day : 96
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14690           400           2800
1  Material2       47865           800           5600
2  Material3       18199           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng      country iso2 iso3 admin_name  \
2  Delhi      Delhi  28.6667   77.2167        India   IN  IND      Delhi
5  Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR      Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
2    admin  31870000.0  1356872604    3382      11770.780931  Material_2
5  primary  22394000.0  1410836482    1232      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0        96.0  27866.146777        8.239547
5            11.0        96.0  15017.940591       12.189887
1759924.5563414954
Day : 97
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14290           400           2800
1  Material2       50447           800           5600
2  Material3       19231           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1759924.5563414954
Day : 98
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13890           400           2800
1  Material2       49647           800           5600
2  Material3       19031           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France
0   Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN          Tōkyō

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1071       5848.624736  Material_3
0   primary  39105000.0  1392685764    1514      10875.131358  Material_1

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
34            12.0        98.0   7516.652511        7.018350
0              8.0        98.0  13171.959101        8.700105
1780613.1679537012
Day : 99
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15004           400           2800
1  Material2       48847           800           5600
2  Material3       19902           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name capital  population          id  Volume  \
7                      Shanghai   admin  22118000.0  1156073548    1955
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1643
220                       Busan   admin   3453198.0  1410601465    3000

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0        99.0  11624.842032
937       6316.399245  Material_1             7.5        99.0   7783.382969
220      11290.184512  Material_2            10.0        99.0  33870.553536

     Per_Unit_Price
7          5.946211
937        4.737299
220       11.290185
1833891.946491271
Day : 100
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18202           400           2800
1  Material2       51047           800           5600
2  Material3       19702           200           1400
For order qty: 5411
Material 1 needed: 35908
Material 2 needed: 57173
Material 3 needed: 7353
material3 required:  7353
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1541
9                     Guangdong    admin  21489000.0  1156237133    3182
34                Île-de-France  primary  11027000.0  1250015082    1035
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1692
2                         Delhi    admin  31870000.0  1356872604    3214
6                   Mahārāshtra    admin  22186000.0  1356226629    1095
0                         Tōkyō  primary  39105000.0  1392685764    1751
18                        Ōsaka    admin  15490000.0  1392419823    3379
5                         Seoul  primary  22394000.0  1410836482    1011
220                       Busan    admin   3453198.0  1410601465    3154

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       109.0   9163.110778
9        12899.735317  Material_2             6.0       110.0  24628.174667
34        5848.624736  Material_3            12.0       102.0   7263.991923
937       6316.399245  Material_1             7.5       102.0   8015.510641
2        11770.780931  Material_2             7.0       104.0  26481.902939
6        12554.672401  Material_3            10.0       110.0  13747.366279
0        10875.131358  Material_1             8.0       104.0  15233.884007
18       11127.301019  Material_2             8.0       109.0  30079.320115
5        11081.715312  Material_3            11.0       105.0  12323.975598
220      11290.184512  Material_2            10.0       104.0  35609.241951

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3170      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0       100.0  28218.835385        8.901841
1862110.781875865
Day : 101
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17802           400           2800
1  Material2       53417           800           5600
2  Material3       19502           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1862110.781875865
Day : 102
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17402           400           2800
1  Material2       52617           800           5600
2  Material3       19302           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat     lng country iso2 iso3  \
34       Paris      Paris  48.8566  2.3522  France   FR  FRA
937  Marseille  Marseille  43.2964  5.3700  France   FR  FRA

                     admin_name  capital  population          id  Volume  \
34                Île-de-France  primary  11027000.0  1250015082    1035
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1692

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
34        5848.624736  Material_3            12.0       102.0  7263.991923
937       6316.399245  Material_1             7.5       102.0  8015.510641

     Per_Unit_Price
34         7.018350
937        4.737299
1877390.2844397535
Day : 103
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18694           400           2800
1  Material2       51817           800           5600
2  Material3       20137           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1877390.2844397535
Day : 104
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18294           400           2800
1  Material2       51017           800           5600
2  Material3       19937           200           1400
The materials supplied this iteration are:-
       city city_ascii      lat       lng      country iso2 iso3 admin_name  \
2    Delhi      Delhi  28.6667   77.2167        India   IN  IND      Delhi
0    Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN      Tōkyō
220  Busan      Busan  35.1000  129.0403  South Korea   KR  KOR      Busan

     capital  population          id  Volume  Distance_from_us    Material  \
2      admin  31870000.0  1356872604    3214      11770.780931  Material_2
0    primary  39105000.0  1392685764    1751      10875.131358  Material_1
220    admin   3453198.0  1410601465    3154      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2               7.0       104.0  26481.902939        8.239547
0               8.0       104.0  15233.884007        8.700105
220            10.0       104.0  35609.241951       11.290185
1954715.313336902
Day : 105
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19645           400           2800
1  Material2       56585           800           5600
2  Material3       19737           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1011      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       105.0  12323.975598       12.189887
1967039.288935161
Day : 106
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19245           400           2800
1  Material2       55785           800           5600
2  Material3       20548           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1967039.288935161
Day : 107
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18845           400           2800
1  Material2       54985           800           5600
2  Material3       20348           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1967039.288935161
Day : 108
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18445           400           2800
1  Material2       54185           800           5600
2  Material3       20148           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
1967039.288935161
Day : 109
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18045           400           2800
1  Material2       53385           800           5600
2  Material3       19948           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
7   Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai
18     Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka

   capital  population          id  Volume  Distance_from_us    Material  \
7    admin  22118000.0  1156073548    1541      11892.421516  Material_1
18   admin  15490000.0  1392419823    3379      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7              5.0       109.0   9163.110778        5.946211
18             8.0       109.0  30079.320115        8.901841
2006281.7198285037
Day : 110
        Name  In_Factory  Needed_Daily  Needed_Weekly

         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3397      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       112.0  26292.240523        7.739841
2105006.1505827084
Day : 113
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17986           400           2800
1  Material2       63152           800           5600
2  Material3       21279           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
0  Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary

   population          id  Volume  Distance_from_us    Material  \
0  39105000.0  1392685764    1936      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
0             8.0       113.0  16843.403448        8.700105
2121849.554030252
Day : 114
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19522           400           2800
1  Material2       62352           800           5600
2  Material3       21079           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2121849.554030252
Day : 115
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19122           400           2800
1  Material2       61552           800           5600
2  Material3       20879           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1163      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       115.0  14176.838398       12.189887
2136026.392428645
Day : 116
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18722           400           2800
1  Material2       60752           800           5600
2  Material3       21842           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2136026.392428645
Day : 117
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18322           400           2800
1  Material2       59952           800           5600
2  Material3       21642           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng      country iso2 iso3  \
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1646
220                       Busan   admin   3453198.0  1410601465    3299

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5       117.0   7797.594867
220      11290.184512  Material_2            10.0       117.0  37246.318705

     Per_Unit_Price
937        4.737299
220       11.290185
2181070.3060014006
Day : 118
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19568           400           2800
1  Material2       62451           800           5600
2  Material3       21442           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2181070.3060014006
Day : 119
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19168           400           2800
1  Material2       61651           800           5600
2  Material3       21242           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3149      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       119.0  25946.332407        8.239547
2207016.6384085137
Day : 120
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18768           400           2800
1  Material2       64000           800           5600
2  Material3       21042           200           1400
For order qty: 4611
Material 1 needed: 27342
Material 2 needed: 28220
Material 3 needed: 2013
material3 required:  2013
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1855
9                     Guangdong    admin  21489000.0  1156237133    3348
34                Île-de-France  primary  11027000.0  1250015082    1197
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1851
2                         Delhi    admin  31870000.0  1356872604    3328
6                   Mahārāshtra    admin  22186000.0  1356226629    1241
0                         Tōkyō  primary  39105000.0  1392685764    1657
18                        Ōsaka    admin  15490000.0  1392419823    3314
5                         Seoul  primary  22394000.0  1410836482    1067
220                       Busan    admin   3453198.0  1410601465    3309

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       125.0  11030.220956
9        12899.735317  Material_2             6.0       129.0  25912.988304
34        5848.624736  Material_3            12.0       129.0   8400.964571
937       6316.399245  Material_1             7.5       124.0   8768.741251
2        11770.780931  Material_2             7.0       121.0  27421.211258
6        12554.672401  Material_3            10.0       127.0  15580.348450
0        10875.131358  Material_1             8.0       123.0  14416.074128
18       11127.301019  Material_2             8.0       124.0  29500.700462
5        11081.715312  Material_3            11.0       122.0  13006.609261
220      11290.184512  Material_2            10.0       127.0  37359.220550

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3   admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN     Shanghai
6    Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1551      11892.421516  Material_1
6   admin  22186000.0  1356226629    1056      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       120.0   9222.572886        5.946211
6            10.0       120.0  13257.734056       12.554672
2229496.9453499755
Day : 121
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19919           400           2800
1  Material2       63200           800           5600
2  Material3       21898           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3328      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       121.0  27421.211258        8.239547
2256918.1566077946
Day : 122
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19519           400           2800
1  Material2       65728           800           5600
2  Material3       21698           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1067      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       122.0  13006.609261       12.189887
2269924.7658692608
Day : 123
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19119           400           2800
1  Material2       64928           800           5600
2  Material3       22565           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
0  Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary

   population          id  Volume  Distance_from_us    Material  \
0  39105000.0  1392685764    1657      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
0             8.0       123.0  14416.074128        8.700105
2284340.8399976594
Day : 124
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20376           400           2800
1  Material2       64128           800           5600
2  Material3       22365           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng country iso2 iso3  \
937  Marseille  Marseille  43.2964    5.3700  France   FR  FRA
18       Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1851
18                        Ōsaka   admin  15490000.0  1392419823    3314

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5       124.0   8768.741251
18       11127.301019  Material_2             8.0       124.0  29500.700462

     Per_Unit_Price
937        4.737299
18         8.901841
2322610.2817108887
Day : 125
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21827           400           2800
1  Material2       66642           800           5600
2  Material3       22165           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1855      11892.421516  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       125.0  11030.220956        5.946211
2333640.5026673
Day : 126
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23282           400           2800
1  Material2       65842           800           5600
2  Material3       21965           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2333640.5026673
Day : 127
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22882           400           2800
1  Material2       65042           800           5600
2  Material3       21765           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng      country iso2 iso3   admin_name  \
6    Mumbai     Mumbai  19.0758   72.8775        India   IN  IND  Mahārāshtra
220   Busan      Busan  35.1000  129.0403  South Korea   KR  KOR        Busan

    capital  population          id  Volume  Distance_from_us    Material  \
6     admin  22186000.0  1356226629    1241      12554.672401  Material_3
220   admin   3453198.0  1410601465    3309      11290.184512  Material_2

     Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
6              10.0       127.0  15580.34845       12.554672
220            10.0       127.0  37359.22055       11.290185
2386580.0716675296
Day : 128
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22482           400           2800
1  Material2       67551           800           5600
2  Material3       22806           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2386580.0716675296
Day : 129
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22082           400           2800
1  Material2       66751           800           5600
2  Material3       22606           200           1400
The materials supplied this iteration are:-
          city city_ascii      lat       lng country iso2 iso3     admin_name  \
9   Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN      Guangdong
34      Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
9     admin  21489000.0  1156237133    3348      12899.735317  Material_2
34  primary  11027000.0  1250015082    1197       5848.624736  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9              6.0       129.0  25912.988304        7.739841
34            12.0       129.0   8400.964571        7.018350
2420894.0245431936
Day : 130
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21682           400           2800
1  Material2       69299           800           5600
2  Material3       23603           200           1400
For order qty: 4211
Material 1 needed: 20428
Material 2 needed: 14921
Material 3 present: 21055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1603
9                     Guangdong    admin  21489000.0  1156237133    3073
34                Île-de-France  primary  11027000.0  1250015082    1224
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1855
2                         Delhi    admin  31870000.0  1356872604    3217
6                   Mahārāshtra    admin  22186000.0  1356226629    1129
0                         Tōkyō  primary  39105000.0  1392685764    1961
18                        Ōsaka    admin  15490000.0  1392419823    3200
5                         Seoul  primary  22394000.0  1410836482    1194
220                       Busan    admin   3453198.0  1410601465    3417

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       138.0   9531.775845
9        12899.735317  Material_2             6.0       137.0  23784.531977
34        5848.624736  Material_3            12.0       132.0   8590.460013
937       6316.399245  Material_1             7.5       136.0   8787.690449
2        11770.780931  Material_2             7.0       140.0  26506.621579
6        12554.672401  Material_3            10.0       131.0  14174.225141
0        10875.131358  Material_1             8.0       131.0  17060.906075
18       11127.301019  Material_2             8.0       134.0  28485.890609
5        11081.715312  Material_3            11.0       133.0  14554.724891
220      11290.184512  Material_2            10.0       137.0  38578.560478

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2420894.0245431936
Day : 131
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21282           400           2800
1  Material2       68499           800           5600
2  Material3       23403           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3   admin_name  \
6  Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra
0   Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN        Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
6    admin  22186000.0  1356226629    1129      12554.672401  Material_3
0  primary  39105000.0  1392685764    1961      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0       131.0  14174.225141       12.554672
0             8.0       131.0  17060.906075        8.700105
2452129.155758714
Day : 132
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22843           400           2800
1  Material2       67699           800           5600
2  Material3       24332           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France


        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22698           400           2800
1  Material2       66899           800           5600
2  Material3       25750           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng      country iso2 iso3  \
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

    admin_name capital  population          id  Volume  Distance_from_us  \
9    Guangdong   admin  21489000.0  1156237133    3073      12899.735317
220      Busan   admin   3453198.0  1410601465    3417      11290.184512

       Material  Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9    Material_2             6.0       137.0  23784.531977        7.739841
220  Material_2            10.0       137.0  38578.560478       11.290185
2574911.01417491
Day : 138
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22298           400           2800
1  Material2       72589           800           5600
2  Material3       25550           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1603      11892.421516  Material_1

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
7             5.0       138.0  9531.775845        5.946211
2584442.7900202614
Day : 139
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23501           400           2800
1  Material2       71789           800           5600
2  Material3       25350           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2584442.7900202614
Day : 140
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23101           400           2800
1  Material2       70989           800           5600
2  Material3       25150           200           1400
For order qty: 3811
Material 1 needed: 15009
Material 2 needed: 5231
Material 3 present: 19055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1867
9                     Guangdong    admin  21489000.0  1156237133    3075
34                Île-de-France  primary  11027000.0  1250015082    1041
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1893
2                         Delhi    admin  31870000.0  1356872604    3127
6                   Mahārāshtra    admin  22186000.0  1356226629    1107
0                         Tōkyō  primary  39105000.0  1392685764    1977
18                        Ōsaka    admin  15490000.0  1392419823    3116
5                         Seoul  primary  22394000.0  1410836482    1072
220                       Busan    admin   3453198.0  1410601465    3262

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       149.0  11101.575486
9        12899.735317  Material_2             6.0       146.0  23800.011659
34        5848.624736  Material_3            12.0       144.0   7306.102021
937       6316.399245  Material_1             7.5       148.0   8967.707827
2        11770.780931  Material_2             7.0       141.0  25765.062381
6        12554.672401  Material_3            10.0       149.0  13898.022348
0        10875.131358  Material_1             8.0       146.0  17200.107756
18       11127.301019  Material_2             8.0       150.0  27738.135981
5        11081.715312  Material_3            11.0       145.0  13067.558696
220      11290.184512  Material_2            10.0       143.0  36828.581878

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3217      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       140.0  26506.621579        8.239547
2610949.4115997097
Day : 141
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22701           400           2800
1  Material2       73406           800           5600
2  Material3       24950           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3127      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       141.0  25765.062381        8.239547
2636714.473980479
Day : 142
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22301           400           2800
1  Material2       75733           800           5600
2  Material3       24750           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2636714.473980479
Day : 143
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21901           400           2800
1  Material2       74933           800           5600
2  Material3       24550           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3262      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       143.0  36828.581878       11.290185
2673543.055858907
Day : 144
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21501           400           2800
1  Material2       77395           800           5600
2  Material3       24350           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1041       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0       144.0  7306.102021         7.01835
2680849.1578795803
Day : 145
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21101           400           2800
1  Material2       76595           800           5600
2  Material3       25191           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1072      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       145.0  13067.558696       12.189887
2693916.716575261
Day : 146
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20701           400           2800
1  Material2       75795           800           5600
2  Material3       26063           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
0      Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3075      12899.735317  Material_2
0  primary  39105000.0  1392685764    1977      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       146.0  23800.011659        7.739841
0             8.0       146.0  17200.107756        8.700105
2734916.835990807
Day : 147
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22278           400           2800
1  Material2       78070           800           5600
2  Material3       25863           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2734916.835990807
Day : 148
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21878           400           2800
1  Material2       77270           800           5600
2  Material3       25663           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1893

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5       148.0  8967.707827

     Per_Unit_Price
937        4.737299
2743884.5438182377
Day : 149
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23371           400           2800
1  Material2       76470           800           5600
2  Material3       25463           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3   admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN     Shanghai
6    Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1867      11892.421516  Material_1
6   admin  22186000.0  1356226629    1107      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       149.0  11101.575486        5.946211
6            10.0       149.0  13898.022348       12.554672
2768884.1416517366
Day : 150
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24838           400           2800
1  Material2       75670           800           5600
2  Material3       26370           200           1400
For order qty: 3411
Material 1 needed: 9272
Material 2 present: 68220
Material 3 present: 17055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1537
9                     Guangdong    admin  21489000.0  1156237133    3320
34                Île-de-France  primary  11027000.0  1250015082    1187
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1815
2                         Delhi    admin  31870000.0  1356872604    3130
6                   Mahārāshtra    admin  22186000.0  1356226629    1231
0                         Tōkyō  primary  39105000.0  1392685764    1910
18                        Ōsaka    admin  15490000.0  1392419823    3497
5                         Seoul  primary  22394000.0  1410836482    1050
220                       Busan    admin   3453198.0  1410601465    3305

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       160.0   9139.325935
9        12899.735317  Material_2             6.0       159.0  25696.272751
34        5848.624736  Material_3            12.0       157.0   8330.781074
937       6316.399245  Material_1             7.5       151.0   8598.198472
2        11770.780931  Material_2             7.0       153.0  25789.781021
6        12554.672401  Material_3            10.0       153.0  15454.801726
0        10875.131358  Material_1             8.0       157.0  16617.200715
18       11127.301019  Material_2             8.0       157.0  31129.737331
5        11081.715312  Material_3            11.0       152.0  12799.381185
220      11290.184512  Material_2            10.0       158.0  37314.059812

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3116      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0       150.0  27738.135981        8.901841
2796622.277632303
Day : 151
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24438           400           2800
1  Material2       77986           800           5600
2  Material3       26170           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1815

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5       151.0  8598.198472

     Per_Unit_Price
937        4.737299
2805220.4761039284
Day : 152
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25853           400           2800
1  Material2       77186           800           5600
2  Material3       25970           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1050      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       152.0  12799.381185       12.189887
2818019.8572890637
Day : 153
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25453           400           2800
1  Material2       76386           800           5600
2  Material3       26820           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
2   Delhi      Delhi  28.6667  77.2167   India   IN  IND        Delhi   admin
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3130      11770.780931  Material_2
6  22186000.0  1356226629    1231      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       153.0  25789.781021        8.239547
6            10.0       153.0  15454.801726       12.554672
2859264.4400355117
Day : 154
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25053           400           2800
1  Material2       78716           800           5600
2  Material3       27851           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2859264.4400355117
Day : 155
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24653           400           2800
1  Material2       77916           800           5600
2  Material3       27651           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2859264.4400355117
Day : 156
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24253           400           2800
1  Material2       77116           800           5600
2  Material3       27451           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2859264.4400355117
Day : 157
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23853           400           2800
1  Material2       76316           800           5600
2  Material3       27251           200           1400
The materials supplied this iteration are:-

      city city_ascii      lat       lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France
0   Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN          Tōkyō
18  Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN          Ōsaka

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1187       5848.624736  Material_3
0   primary  39105000.0  1392685764    1910      10875.131358  Material_1
18    admin  15490000.0  1392419823    3497      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
34            12.0       157.0   8330.781074        7.018350
0              8.0       157.0  16617.200715        8.700105
18             8.0       157.0  31129.737331        8.901841
2915342.1591564976
Day : 158
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25363           400           2800
1  Material2       79013           800           5600
2  Material3       28238           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3305      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       158.0  37314.059812       11.290185
2952656.2189689456
Day : 159
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24963           400           2800
1  Material2       81518           800           5600
2  Material3       28038           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3320      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       159.0  25696.272751        7.739841
2978352.491719966
Day : 160
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24563           400           2800
1  Material2       84038           800           5600
2  Material3       27838           200           1400
For order qty: 3011
Material 1 needed: 5547
Material 2 present: 60220
Material 3 present: 15055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1775
9                     Guangdong    admin  21489000.0  1156237133    3107
34                Île-de-France  primary  11027000.0  1250015082    1101
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1975
2                         Delhi    admin  31870000.0  1356872604    3189
6                   Mahārāshtra    admin  22186000.0  1356226629    1228
0                         Tōkyō  primary  39105000.0  1392685764    1831
18                        Ōsaka    admin  15490000.0  1392419823    3376
5                         Seoul  primary  22394000.0  1410836482    1087
220                       Busan    admin   3453198.0  1410601465    3208

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       169.0  10554.524096
9        12899.735317  Material_2             6.0       163.0  24047.686578
34        5848.624736  Material_3            12.0       169.0   7727.203002
937       6316.399245  Material_1             7.5       165.0   9356.166381
2        11770.780931  Material_2             7.0       170.0  26275.914273
6        12554.672401  Material_3            10.0       167.0  15417.137709
0        10875.131358  Material_1             8.0       163.0  15929.892413
18       11127.301019  Material_2             8.0       167.0  30052.614593
5        11081.715312  Material_3            11.0       164.0  13250.406998
220      11290.184512  Material_2            10.0       166.0  36218.911915

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai

  capital  population          id  Volume  Distance_from_us    Material  \
7   admin  22118000.0  1156073548    1537      11892.421516  Material_1

   Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
7             5.0       160.0  9139.325935        5.946211
2987491.817655278
Day : 161
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25700           400           2800
1  Material2       83238           800           5600
2  Material3       27638           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2987491.817655278
Day : 162
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25300           400           2800
1  Material2       82438           800           5600
2  Material3       27438           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
2987491.817655278
Day : 163
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24900           400           2800
1  Material2       81638           800           5600
2  Material3       27238           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
0      Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3107      12899.735317  Material_2
0  primary  39105000.0  1392685764    1831      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       163.0  24047.686578        7.739841
0             8.0       163.0  15929.892413        8.700105
3027469.396646271
Day : 164
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26331           400           2800
1  Material2       83945           800           5600
2  Material3       27038           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1087      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       164.0  13250.406998       12.189887
3040719.8036445966
Day : 165
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25931           400           2800
1  Material2       83145           800           5600
2  Material3       27925           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1975

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5       165.0  9356.166381

     Per_Unit_Price
937        4.737299
3050075.9700255664
Day : 166
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27506           400           2800
1  Material2       82345           800           5600
2  Material3       27725           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3208      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       166.0  36218.911915       11.290185
3086294.8819403416
Day : 167
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27106           400           2800
1  Material2       84753           800           5600
2  Material3       27525           200           1400
The materials supplied this iteration are:-
       city city_ascii      lat       lng country iso2 iso3   admin_name  \
6   Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra
18   Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN        Ōsaka

   capital  population          id  Volume  Distance_from_us    Material  \
6    admin  22186000.0  1356226629    1228      12554.672401  Material_3
18   admin  15490000.0  1392419823    3376      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6             10.0       167.0  15417.137709       12.554672
18             8.0       167.0  30052.614593        8.901841
3131764.6342414133
Day : 168
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26706           400           2800
1  Material2       87329           800           5600
2  Material3       28553           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3131764.6342414133
Day : 169
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26306           400           2800
1  Material2       86529           800           5600
2  Material3       28353           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3     admin_name  \
7   Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN       Shanghai
34     Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
7     admin  22118000.0  1156073548    1775      11892.421516  Material_1
34  primary  11027000.0  1250015082    1101       5848.624736  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7              5.0       169.0  10554.524096        5.946211
34            12.0       169.0   7727.203002        7.018350
3150046.3613388627
Day : 170
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27681           400           2800
1  Material2       85729           800           5600
2  Material3       29254           200           1400
For order qty: 2611
Material 1 present: 26110
Material 2 present: 52220
Material 3 present: 13055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1702
9                     Guangdong    admin  21489000.0  1156237133    3336
34                Île-de-France  primary  11027000.0  1250015082    1176
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1599
2                         Delhi    admin  31870000.0  1356872604    3091
6                   Mahārāshtra    admin  22186000.0  1356226629    1071
0                         Tōkyō  primary  39105000.0  1392685764    2000
18                        Ōsaka    admin  15490000.0  1392419823    3427
5                         Seoul  primary  22394000.0  1410836482    1109
220                       Busan    admin   3453198.0  1410601465    3141

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       173.0  10120.450710
9        12899.735317  Material_2             6.0       174.0  25820.110210
34        5848.624736  Material_3            12.0       173.0   8253.579228
937       6316.399245  Material_1             7.5       177.0   7574.941794
2        11770.780931  Material_2             7.0       179.0  25468.438701
6        12554.672401  Material_3            10.0       179.0  13446.054142
0        10875.131358  Material_1             8.0       172.0  17400.210173
18       11127.301019  Material_2             8.0       174.0  30506.608474
5        11081.715312  Material_3            11.0       178.0  13518.584509
220      11290.184512  Material_2            10.0       175.0  35462.469552

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
     city city_ascii      lat      lng country iso2 iso3 admin_name capital  \
2  Delhi      Delhi  28.6667  77.2167   India   IN  IND      Delhi   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3189      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       170.0  26275.914273        8.239547
3176322.2756120553
Day : 171
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27281           400           2800
1  Material2       88118           800           5600
2  Material3       29054           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3176322.2756120553
Day : 172
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26881           400           2800
1  Material2       87318           800           5600
2  Material3       28854           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
0  Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary

   population          id  Volume  Distance_from_us    Material  \
0  39105000.0  1392685764    2000      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
0             8.0       172.0  17400.210173        8.700105
3193722.4857851374
Day : 173
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28481           400           2800
1  Material2       86518           800           5600
2  Material3       28654           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3     admin_name  \
7   Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN       Shanghai
34     Paris      Paris  48.8566    2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
7     admin  22118000.0  1156073548    1702      11892.421516  Material_1
34  primary  11027000.0  1250015082    1176       5848.624736  Material_3

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7              5.0       173.0  10120.450710        5.946211
34            12.0       173.0   8253.579228        7.018350
3212096.5157235134
Day : 174
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29783           400           2800
1  Material2       85718           800           5600
2  Material3       29630           200           1400
The materials supplied this iteration are:-
          city city_ascii      lat       lng country iso2 iso3 admin_name  \
9   Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
18      Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3336      12899.735317  Material_2
18   admin  15490000.0  1392419823    3427      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9              6.0       174.0  25820.110210        7.739841
18             8.0       174.0  30506.608474        8.901841
3268423.2344077085
Day : 175
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29383           400           2800
1  Material2       91681           800           5600
2  Material3       29430           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3141      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       175.0  35462.469552       11.290185
3303885.703960174
Day : 176
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28983           400           2800
1  Material2       94022           800           5600
2  Material3       29230           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3303885.703960174
Day : 177
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28583           400           2800

      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
2   Delhi      Delhi  28.6667  77.2167   India   IN  IND        Delhi   admin
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3091      11770.780931  Material_2
6  22186000.0  1356226629    1071      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       179.0  25468.438701        8.239547
6            10.0       179.0  13446.054142       12.554672
3363893.7231059046
Day : 180
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28982           400           2800
1  Material2       93913           800           5600
2  Material3       30610           200           1400
For order qty: 2211
Material 1 present: 22110
Material 2 present: 44220
Material 3 present: 11055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1834
9                     Guangdong    admin  21489000.0  1156237133    3232
34                Île-de-France  primary  11027000.0  1250015082    1030
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1901
2                         Delhi    admin  31870000.0  1356872604    3213
6                   Mahārāshtra    admin  22186000.0  1356226629    1049
0                         Tōkyō  primary  39105000.0  1392685764    1782
18                        Ōsaka    admin  15490000.0  1392419823    3118
5                         Seoul  primary  22394000.0  1410836482    1022
220                       Busan    admin   3453198.0  1410601465    3424

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       185.0  10905.350530
9        12899.735317  Material_2             6.0       183.0  25015.166726
34        5848.624736  Material_3            12.0       187.0   7228.900174
937       6316.399245  Material_1             7.5       181.0   9005.606223
2        11770.780931  Material_2             7.0       182.0  26473.663393
6        12554.672401  Material_3            10.0       184.0  13169.851349
0        10875.131358  Material_1             8.0       182.0  15503.587264
18       11127.301019  Material_2             8.0       184.0  27755.939662
5        11081.715312  Material_3            11.0       188.0  12458.064354
220      11290.184512  Material_2            10.0       185.0  38657.591769

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3363893.7231059046
Day : 181
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28582           400           2800
1  Material2       93113           800           5600
2  Material3       30410           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1901

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5       181.0  9005.606223

     Per_Unit_Price
937        4.737299
3372899.3293288024
Day : 182
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30083           400           2800
1  Material2       92313           800           5600
2  Material3       30210           200           1400
The materials supplied this iteration are:-
     city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
2  Delhi      Delhi  28.6667   77.2167   India   IN  IND      Delhi    admin
0  Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3213      11770.780931  Material_2
0  39105000.0  1392685764    1782      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       182.0  26473.663393        8.239547
0             8.0       182.0  15503.587264        8.700105
3414876.579985859
Day : 183
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31465           400           2800
1  Material2       94726           800           5600
2  Material3       30010           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3232      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       183.0  25015.166726        7.739841
3439891.7467121533
Day : 184
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31065           400           2800
1  Material2       97158           800           5600
2  Material3       29810           200           1400
The materials supplied this iteration are:-
       city city_ascii      lat       lng country iso2 iso3   admin_name  \
6   Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra
18   Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN        Ōsaka

   capital  population          id  Volume  Distance_from_us    Material  \
6    admin  22186000.0  1356226629    1049      12554.672401  Material_3
18   admin  15490000.0  1392419823    3118      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6             10.0       184.0  13169.851349       12.554672
18             8.0       184.0  27755.939662        8.901841
3480817.537723078
Day : 185
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30665           400           2800
1  Material2       99476           800           5600
2  Material3       30659           200           1400
The materials supplied this iteration are:-
          city city_ascii      lat       lng      country iso2 iso3 admin_name  \
7    Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN   Shanghai
220     Busan      Busan  35.1000  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
7     admin  22118000.0  1156073548    1834      11892.421516  Material_1
220   admin   3453198.0  1410601465    3424      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7               5.0       185.0  10905.350530        5.946211
220            10.0       185.0  38657.591769       11.290185
3530380.480022954
Day : 186
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32099           400           2800
1  Material2      102100           800           5600
2  Material3       30459           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3530380.480022954
Day : 187
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31699           400           2800
1  Material2      101300           800           5600
2  Material3       30259           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1030       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0       187.0  7228.900174         7.01835
3537609.380197107
Day : 188
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31299           400           2800
1  Material2      100500           800           5600
2  Material3       31089           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1022      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       188.0  12458.064354       12.189887
3550067.4445506386
Day : 189
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30899           400           2800
1  Material2       99700           800           5600
2  Material3       31911           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3550067.4445506386
Day : 190
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30499           400           2800
1  Material2       98900           800           5600
2  Material3       31711           200           1400
For order qty: 1811
Material 1 present: 18110
Material 2 present: 36220
Material 3 present: 9055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1939
9                     Guangdong    admin  21489000.0  1156237133    3409
34                Île-de-France  primary  11027000.0  1250015082    1113
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1579
2                         Delhi    admin  31870000.0  1356872604    3277
6                   Mahārāshtra    admin  22186000.0  1356226629    1100
0                         Tōkyō  primary  39105000.0  1392685764    1841
18                        Ōsaka    admin  15490000.0  1392419823    3220
5                         Seoul  primary  22394000.0  1410836482    1184
220                       Busan    admin   3453198.0  1410601465    3075

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       196.0  11529.702660
9        12899.735317  Material_2             6.0       192.0  26385.118617
34        5848.624736  Material_3            12.0       191.0   7811.423198
937       6316.399245  Material_1             7.5       200.0   7480.195805
2        11770.780931  Material_2             7.0       196.0  27000.994379
6        12554.672401  Material_3            10.0       194.0  13810.139641
0        10875.131358  Material_1             8.0       192.0  16016.893464
18       11127.301019  Material_2             8.0       193.0  28663.927425
5        11081.715312  Material_3            11.0       196.0  14432.826022
220      11290.184512  Material_2            10.0       197.0  34717.317375

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3550067.4445506386
Day : 191
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30099           400           2800
1  Material2       98100           800           5600
2  Material3       31511           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1113       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0       191.0  7811.423198         7.01835
3557878.8677485343
Day : 192
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29699           400           2800
1  Material2       97300           800           5600
2  Material3       32424           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
0      Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
9    admin  21489000.0  1156237133    3409      12899.735317  Material_2
0  primary  39105000.0  1392685764    1841      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       192.0  26385.118617        7.739841
0             8.0       192.0  16016.893464        8.700105
3600280.879829793
Day : 193
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31140           400           2800
1  Material2       99909           800           5600
2  Material3       32224           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3220      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0       193.0  28663.927425        8.901841
3628944.8072551535
Day : 194
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30740           400           2800
1  Material2      102329           800           5600
2  Material3       32024           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1100      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0       194.0  13810.139641       12.554672
3642754.9468963356
Day : 195
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30340           400           2800
1  Material2      101529           800           5600
2  Material3       32924           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3642754.9468963356
Day : 196
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29940           400           2800
1  Material2      100729           800           5600
2  Material3       32724           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng      country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN   Shanghai
2     Delhi      Delhi  28.6667   77.2167        India   IN  IND      Delhi
5     Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR      Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
7    admin  22118000.0  1156073548    1939      11892.421516  Material_1
2    admin  31870000.0  1356872604    3277      11770.780931  Material_2
5  primary  22394000.0  1410836482    1184      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       196.0  11529.702660        5.946211
2             7.0       196.0  27000.994379        8.239547
5            11.0       196.0  14432.826022       12.189887
3695718.4699570965
Day : 197
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31479           400           2800
1  Material2      103206           800           5600
2  Material3       33708           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3075      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       197.0  34717.317375       11.290185
3730435.787331764
Day : 198
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31079           400           2800
1  Material2      105481           800           5600
2  Material3       33508           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3730435.787331764
Day : 199
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30679           400           2800
1  Material2      104681           800           5600
2  Material3       33308           200           1400
The materials supplied this iteration are:-
 Empty DataFrame

The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3368      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0       201.0  29981.399866        8.901841
3767897.3830031357
Day : 202
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31058           400           2800
1  Material2      105649           800           5600
2  Material3       32708           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3767897.3830031357
Day : 203
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30658           400           2800
1  Material2      104849           800           5600
2  Material3       32508           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3767897.3830031357
Day : 204
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30258           400           2800
1  Material2      104049           800           5600
2  Material3       32308           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3103      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       204.0  35033.442541       11.290185
3802930.8255441417
Day : 205
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29858           400           2800
1  Material2      106352           800           5600
2  Material3       32108           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1173       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0       205.0  8232.524179         7.01835
3811163.349723056
Day : 206
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29458           400           2800
1  Material2      105552           800           5600
2  Material3       33081           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3023      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       206.0  23397.539918        7.739841
3834560.8896406265
Day : 207
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       29058           400           2800
1  Material2      107775           800           5600
2  Material3       32881           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3834560.8896406265
Day : 208
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28658           400           2800
1  Material2      106975           800           5600
2  Material3       32681           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat     lng      country iso2 iso3  \
937  Marseille  Marseille  43.2964    5.37       France   FR  FRA
5        Seoul      Seoul  37.5600  126.99  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1930
5                         Seoul  primary  22394000.0  1410836482    1180

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5       208.0   9142.987906
5        11081.715312  Material_3            11.0       208.0  14384.066475

     Per_Unit_Price
937        4.737299
5         12.189887
3858087.944021817
Day : 209
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       30188           400           2800
1  Material2      106175           800           5600
2  Material3       33661           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667   China   CN  CHN   Shanghai
0     Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
7    admin  22118000.0  1156073548    1672      11892.421516  Material_1
0  primary  39105000.0  1392685764    1894      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       209.0   9942.064388        5.946211
0             8.0       209.0  16477.999034        8.700105
3884508.0074433913
Day : 210
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33354           400           2800
1  Material2      105375           800           5600
2  Material3       33461           200           1400
For order qty: 1011
Material 1 present: 10110
Material 2 present: 20220
Material 3 present: 5055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1857
9                     Guangdong    admin  21489000.0  1156237133    3219
34                Île-de-France  primary  11027000.0  1250015082    1085
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1936
2                         Delhi    admin  31870000.0  1356872604    3160
6                   Mahārāshtra    admin  22186000.0  1356226629    1054
0                         Tōkyō  primary  39105000.0  1392685764    1522
18                        Ōsaka    admin  15490000.0  1392419823    3294
5                         Seoul  primary  22394000.0  1410836482    1056
220                       Busan    admin   3453198.0  1410601465    3253

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       218.0  11042.113378
9        12899.735317  Material_2             6.0       215.0  24914.548791
34        5848.624736  Material_3            12.0       220.0   7614.909407
937       6316.399245  Material_1             7.5       212.0   9171.411703
2        11770.780931  Material_2             7.0       218.0  26036.967420
6        12554.672401  Material_3            10.0       219.0  13232.624711
0        10875.131358  Material_1             8.0       219.0  13241.559942
18       11127.301019  Material_2             8.0       211.0  29322.663646
5        11081.715312  Material_3            11.0       218.0  12872.520506
220      11290.184512  Material_2            10.0       217.0  36726.970218

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
2   Delhi      Delhi  28.6667  77.2167   India   IN  IND        Delhi   admin
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
2  31870000.0  1356872604    3094      11770.780931  Material_2
6  22186000.0  1356226629    1091      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
2             7.0       210.0  25493.157341        8.239547
6            10.0       210.0  13697.147590       12.554672
3923698.3123742174
Day : 211
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32954           400           2800
1  Material2      107669           800           5600
2  Material3       34352           200           1400
The materials supplied this iteration are:-
      city city_ascii     lat       lng country iso2 iso3 admin_name capital  \
18  Ōsaka      Osaka  34.752  135.4582   Japan   JP  JPN      Ōsaka   admin

    population          id  Volume  Distance_from_us    Material  \
18  15490000.0  1392419823    3294      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
18             8.0       211.0  29322.663646        8.901841
3953020.9760199124
Day : 212
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32554           400           2800
1  Material2      110163           800           5600
2  Material3       34152           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat   lng country iso2 iso3  \
937  Marseille  Marseille  43.2964  5.37  France   FR  FRA

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1936

     Distance_from_us    Material  Material_Costs  Time_Taken  Total_Costs  \
937       6316.399245  Material_1             7.5       212.0  9171.411703

     Per_Unit_Price
937        4.737299
3962192.3877229793
Day : 213
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34090           400           2800
1  Material2      109363           800           5600
2  Material3       33952           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3962192.3877229793
Day : 214
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33690           400           2800
1  Material2      108563           800           5600
2  Material3       33752           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3962192.3877229793
Day : 215
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33290           400           2800
1  Material2      107763           800           5600
2  Material3       33552           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat      lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.259   China   CN  CHN  Guangdong

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3219      12899.735317  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       215.0  24914.548791        7.739841
3987106.936513803
Day : 216
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32890           400           2800
1  Material2      110182           800           5600
2  Material3       33352           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
3987106.936513803
Day : 217
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32490           400           2800
1  Material2      109382           800           5600
2  Material3       33152           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3253      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       217.0  36726.970218       11.290185
4023833.9067316223
Day : 218
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32090           400           2800
1  Material2      111835           800           5600
2  Material3       32952           200           1400
The materials supplied this iteration are:-
        city city_ascii      lat       lng      country iso2 iso3 admin_name  \
7  Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN   Shanghai
2     Delhi      Delhi  28.6667   77.2167        India   IN  IND      Delhi
5     Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR      Seoul

   capital  population          id  Volume  Distance_from_us    Material  \
7    admin  22118000.0  1156073548    1857      11892.421516  Material_1
2    admin  31870000.0  1356872604    3160      11770.780931  Material_2
5  primary  22394000.0  1410836482    1056      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
7             5.0       218.0  11042.113378        5.946211
2             7.0       218.0  26036.967420        8.239547
5            11.0       218.0  12872.520506       12.189887
4073785.5080360286
Day : 219
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33547           400           2800
1  Material2      114195           800           5600
2  Material3       33808           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3   admin_name  \
6  Mumbai     Mumbai  19.0758   72.8775   India   IN  IND  Mahārāshtra
0   Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN        Tōkyō

   capital  population          id  Volume  Distance_from_us    Material  \
6    admin  22186000.0  1356226629    1054      12554.672401  Material_3
0  primary  39105000.0  1392685764    1522      10875.131358  Material_1

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0       219.0  13232.624711       12.554672
0             8.0       219.0  13241.559942        8.700105
4100259.6926884768
Day : 220
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34669           400           2800
1  Material2      113395           800           5600
2  Material3       34662           200           1400
For order qty: 611
Material 1 present: 6110
Material 2 present: 12220
Material 3 present: 3055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1742
9                     Guangdong    admin  21489000.0  1156237133    3162
34                Île-de-France  primary  11027000.0  1250015082    1155
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1702
2                         Delhi    admin  31870000.0  1356872604    3201
6                   Mahārāshtra    admin  22186000.0  1356226629    1107
0                         Tōkyō  primary  39105000.0  1392685764    1664
18                        Ōsaka    admin  15490000.0  1392419823    3090
5                         Seoul  primary  22394000.0  1410836482    1212
220                       Busan    admin   3453198.0  1410601465    3083

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       222.0  10358.299141
9        12899.735317  Material_2             6.0       226.0  24473.377843
34        5848.624736  Material_3            12.0       222.0   8106.193885
937       6316.399245  Material_1             7.5       226.0   8062.883636
2        11770.780931  Material_2             7.0       226.0  26374.788833
6        12554.672401  Material_3            10.0       230.0  13898.022348
0        10875.131358  Material_1             8.0       229.0  14476.974864
18       11127.301019  Material_2             8.0       229.0  27506.688119
5        11081.715312  Material_3            11.0       224.0  14774.142854
220      11290.184512  Material_2            10.0       225.0  34807.638851

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii      lat     lng country iso2 iso3     admin_name  \
34  Paris      Paris  48.8566  2.3522  France   FR  FRA  Île-de-France

    capital  population          id  Volume  Distance_from_us    Material  \
34  primary  11027000.0  1250015082    1085       5848.624736  Material_3

    Material_Costs  Time_Taken  Total_Costs  Per_Unit_Price
34            12.0       220.0  7614.909407         7.01835
4107874.6020952305
Day : 221
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34269           400           2800
1  Material2      112595           800           5600
2  Material3       35547           200           1400
The materials supplied this iteration are:-
 Empty DataFrame

4126339.095120577
Day : 223
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35211           400           2800
1  Material2      110995           800           5600
2  Material3       36302           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4126339.095120577
Day : 224
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34811           400           2800
1  Material2      110195           800           5600
2  Material3       36102           200           1400
The materials supplied this iteration are:-
     city city_ascii    lat     lng      country iso2 iso3 admin_name  capital  \
5  Seoul      Seoul  37.56  126.99  South Korea   KR  KOR      Seoul  primary

   population          id  Volume  Distance_from_us    Material  \
5  22394000.0  1410836482    1212      11081.715312  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
5            11.0       224.0  14774.142854       12.189887
4141113.2379742763
Day : 225
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34411           400           2800
1  Material2      109395           800           5600
2  Material3       37114           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3083      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       225.0  34807.638851       11.290185
4175920.8768250407
Day : 226
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34011           400           2800
1  Material2      111678           800           5600
2  Material3       36914           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat       lng country iso2 iso3  \
9    Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN
937  Marseille  Marseille  43.2964    5.3700  France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167   India   IN  IND

                     admin_name capital  population          id  Volume  \
9                     Guangdong   admin  21489000.0  1156237133    3162
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1702
2                         Delhi   admin  31870000.0  1356872604    3201

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
9        12899.735317  Material_2             6.0       226.0  24473.377843
937       6316.399245  Material_1             7.5       226.0   8062.883636
2        11770.780931  Material_2             7.0       226.0  26374.788833

     Per_Unit_Price
9          7.739841
937        4.737299
2          8.239547
4234831.927136698
Day : 227
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35313           400           2800
1  Material2      117241           800           5600
2  Material3       36714           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4234831.927136698
Day : 228
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34913           400           2800
1  Material2      116441           800           5600
2  Material3       36514           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4234831.927136698
Day : 229
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34513           400           2800
1  Material2      115641           800           5600
2  Material3       36314           200           1400
The materials supplied this iteration are:-
      city city_ascii      lat       lng country iso2 iso3 admin_name  capital  \
0   Tokyo      Tokyo  35.6839  139.7744   Japan   JP  JPN      Tōkyō  primary
18  Ōsaka      Osaka  34.7520  135.4582   Japan   JP  JPN      Ōsaka    admin

    population          id  Volume  Distance_from_us    Material  \
0   39105000.0  1392685764    1664      10875.131358  Material_1
18  15490000.0  1392419823    3090      11127.301019  Material_2

    Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
0              8.0       229.0  14476.974864        8.700105
18             8.0       229.0  27506.688119        8.901841
4276815.59012007
Day : 230
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35777           400           2800
1  Material2      117931           800           5600
2  Material3       36114           200           1400
For order qty: 211
Material 1 present: 2110
Material 2 present: 4220
Material 3 present: 1055
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1917
9                     Guangdong    admin  21489000.0  1156237133    3493
34                Île-de-France  primary  11027000.0  1250015082    1060
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1952
2                         Delhi    admin  31870000.0  1356872604    3481
6                   Mahārāshtra    admin  22186000.0  1356226629    1177
0                         Tōkyō  primary  39105000.0  1392685764    1884
18                        Ōsaka    admin  15490000.0  1392419823    3490
5                         Seoul  primary  22394000.0  1410836482    1174
220                       Busan    admin   3453198.0  1410601465    3166

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       239.0  11398.886023
9        12899.735317  Material_2             6.0       231.0  27035.265277
34        5848.624736  Material_3            12.0       240.0   7439.450665
937       6316.399245  Material_1             7.5       233.0   9247.208494
2        11770.780931  Material_2             7.0       231.0  28681.861896
6        12554.672401  Material_3            10.0       233.0  14776.849416
0        10875.131358  Material_1             8.0       236.0  16390.997983
18       11127.301019  Material_2             8.0       238.0  31067.424445
5        11081.715312  Material_3            11.0       240.0  14310.927154
220      11290.184512  Material_2            10.0       235.0  35744.724165

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
      city city_ascii      lat      lng country iso2 iso3   admin_name capital  \
6  Mumbai     Mumbai  19.0758  72.8775   India   IN  IND  Mahārāshtra   admin

   population          id  Volume  Distance_from_us    Material  \
6  22186000.0  1356226629    1107      12554.672401  Material_3

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
6            10.0       230.0  13898.022348       12.554672
4290713.612468059
Day : 231
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35377           400           2800
1  Material2      117131           800           5600
2  Material3       37021           200           1400
The materials supplied this iteration are:-
         city city_ascii      lat       lng country iso2 iso3 admin_name  \
9  Guangzhou  Guangzhou  23.1288  113.2590   China   CN  CHN  Guangdong
2      Delhi      Delhi  28.6667   77.2167   India   IN  IND      Delhi

  capital  population          id  Volume  Distance_from_us    Material  \
9   admin  21489000.0  1156237133    3493      12899.735317  Material_2
2   admin  31870000.0  1356872604    3481      11770.780931  Material_2

   Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
9             6.0       231.0  27035.265277        7.739841
2             7.0       231.0  28681.861896        8.239547
4346430.739640535
Day : 232
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34977           400           2800
1  Material2      123305           800           5600
2  Material3       36821           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4346430.739640535
Day : 233
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34577           400           2800
1  Material2      122505           800           5600
2  Material3       36621           200           1400
The materials supplied this iteration are:-
           city city_ascii      lat      lng country iso2 iso3  \
937  Marseille  Marseille  43.2964   5.3700  France   FR  FRA
6       Mumbai     Mumbai  19.0758  72.8775   India   IN  IND

                     admin_name capital  population          id  Volume  \
937  Provence-Alpes-Côte d’Azur   admin    868277.0  1250774071    1952
6                   Mahārāshtra   admin  22186000.0  1356226629    1177

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
937       6316.399245  Material_1             7.5       233.0   9247.208494
6        12554.672401  Material_3            10.0       233.0  14776.849416

     Per_Unit_Price
937        4.737299
6         12.554672
4370454.797550601
Day : 234
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       36129           400           2800
1  Material2      121705           800           5600
2  Material3       37598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4370454.797550601
Day : 235
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35729           400           2800
1  Material2      120905           800           5600
2  Material3       37398           200           1400
The materials supplied this iteration are:-
       city city_ascii   lat       lng      country iso2 iso3 admin_name  \
220  Busan      Busan  35.1  129.0403  South Korea   KR  KOR      Busan

    capital  population          id  Volume  Distance_from_us    Material  \
220   admin   3453198.0  1410601465    3166      11290.184512  Material_2

     Material_Costs  Time_Taken   Total_Costs  Per_Unit_Price
220            10.0       235.0  35744.724165       11.290185
4406199.521715868
Day : 236
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       35329           400           2800
1  Material2      123271           800           5600
2  Material3       37198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 237
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34929           400           2800
1  Material2      122471           800           5600
2  Material3       36998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 238
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34529           400           2800
1  Material2      121671           800           5600
2  Material3       36798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 239
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       34129           400           2800
1  Material2      120871           800           5600
2  Material3       36598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 240
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33729           400           2800
1  Material2      120071           800           5600
2  Material3       36398           200           1400
For order qty: -5553
Material 1 present: -55530
Material 2 present: -111060
Material 3 present: -27765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1833
9                     Guangdong    admin  21489000.0  1156237133    3088
34                Île-de-France  primary  11027000.0  1250015082    1113
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1840
2                         Delhi    admin  31870000.0  1356872604    3218
6                   Mahārāshtra    admin  22186000.0  1356226629    1032
0                         Tōkyō  primary  39105000.0  1392685764    1709
18                        Ōsaka    admin  15490000.0  1392419823    3006
5                         Seoul  primary  22394000.0  1410836482    1051
220                       Busan    admin   3453198.0  1410601465    3098

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       246.0  10899.404320
9        12899.735317  Material_2             6.0       247.0  23900.629595
34        5848.624736  Material_3            12.0       243.0   7811.423198
937       6316.399245  Material_1             7.5       247.0   8716.630957
2        11770.780931  Material_2             7.0       248.0  26514.861126
6        12554.672401  Material_3            10.0       250.0  12956.421918
0        10875.131358  Material_1             8.0       242.0  14868.479593
18       11127.301019  Material_2             8.0       243.0  26758.933491
5        11081.715312  Material_3            11.0       250.0  12811.571072
220      11290.184512  Material_2            10.0       246.0  34976.991618

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 241
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       33329           400           2800
1  Material2      119271           800           5600
2  Material3       36198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 242
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32929           400           2800
1  Material2      118471           800           5600
2  Material3       35998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 243
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32529           400           2800
1  Material2      117671           800           5600
2  Material3       35798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 244
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       32129           400           2800
1  Material2      116871           800           5600
2  Material3       35598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 245
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       31729           400           2800
1  Material2      116071           800           5600
2  Material3       35398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 246
        Name  In_Factory  Needed_Daily  Needed_Weekly

The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 252
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28929           400           2800
1  Material2      110471           800           5600
2  Material3       33998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 253
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28529           400           2800
1  Material2      109671           800           5600
2  Material3       33798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 254
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       28129           400           2800
1  Material2      108871           800           5600
2  Material3       33598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 255
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27729           400           2800
1  Material2      108071           800           5600
2  Material3       33398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 256
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       27329           400           2800
1  Material2      107271           800           5600
2  Material3       33198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 257
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26929           400           2800
1  Material2      106471           800           5600
2  Material3       32998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 258
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26529           400           2800
1  Material2      105671           800           5600
2  Material3       32798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 259
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26129           400           2800
1  Material2      104871           800           5600
2  Material3       32598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 260
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25729           400           2800
1  Material2      104071           800           5600
2  Material3       32398           200           1400
For order qty: -6353
Material 1 present: -63530
Material 2 present: -127060
Material 3 present: -31765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1676
9                     Guangdong    admin  21489000.0  1156237133    3482
34                Île-de-France  primary  11027000.0  1250015082    1195
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1861
2                         Delhi    admin  31870000.0  1356872604    3269
6                   Mahārāshtra    admin  22186000.0  1356226629    1153
0                         Tōkyō  primary  39105000.0  1392685764    1655
18                        Ōsaka    admin  15490000.0  1392419823    3238
5                         Seoul  primary  22394000.0  1410836482    1183
220                       Busan    admin   3453198.0  1410601465    3493

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       263.0   9965.849231
9        12899.735317  Material_2             6.0       262.0  26950.127024
34        5848.624736  Material_3            12.0       262.0   8386.927872
937       6316.399245  Material_1             7.5       264.0   8816.114246
2        11770.780931  Material_2             7.0       267.0  26935.078005
6        12554.672401  Material_3            10.0       263.0  14475.537278
0        10875.131358  Material_1             8.0       268.0  14398.673918
18       11127.301019  Material_2             8.0       261.0  28824.160560
5        11081.715312  Material_3            11.0       266.0  14420.636135
220      11290.184512  Material_2            10.0       267.0  39436.614501

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 261
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25329           400           2800
1  Material2      103271           800           5600
2  Material3       32198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 262
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24929           400           2800
1  Material2      102471           800           5600
2  Material3       31998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 263
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24529           400           2800
1  Material2      101671           800           5600
2  Material3       31798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 264
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24129           400           2800
1  Material2      100871           800           5600
2  Material3       31598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 265
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23729           400           2800
1  Material2      100071           800           5600
2  Material3       31398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 266
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23329           400           2800
1  Material2       99271           800           5600
2  Material3       31198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 267
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22929           400           2800
1  Material2       98471           800           5600
2  Material3       30998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 268
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22529           400           2800
1  Material2       97671           800           5600
2  Material3       30798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 269
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22129           400           2800
1  Material2       96871           800           5600
2  Material3       30598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 270
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21729           400           2800
1  Material2       96071           800           5600
2  Material3       30398           200           1400
For order qty: -6753
Material 1 present: -67530
Material 2 present: -135060
Material 3 present: -33765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1769
9                     Guangdong    admin  21489000.0  1156237133    3343
34                Île-de-France  primary  11027000.0  1250015082    1241
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1507
2                         Delhi    admin  31870000.0  1356872604    3211
6                   Mahārāshtra    admin  22186000.0  1356226629    1002
0                         Tōkyō  primary  39105000.0  1392685764    1519
18                        Ōsaka    admin  15490000.0  1392419823    3276
5                         Seoul  primary  22394000.0  1410836482    1009
220                       Busan    admin   3453198.0  1410601465    3447

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       273.0  10518.846831
9        12899.735317  Material_2             6.0       277.0  25874.289098
34        5848.624736  Material_3            12.0       274.0   8709.771957
937       6316.399245  Material_1             7.5       271.0   7139.110246
2        11770.780931  Material_2             7.0       280.0  26457.184300
6        12554.672401  Material_3            10.0       271.0  12579.781746
0        10875.131358  Material_1             8.0       271.0  13215.459626
18       11127.301019  Material_2             8.0       272.0  29162.430511
5        11081.715312  Material_3            11.0       273.0  12299.595825
220      11290.184512  Material_2            10.0       277.0  38917.266013

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 271
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21329           400           2800
1  Material2       95271           800           5600
2  Material3       30198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 272
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20929           400           2800
1  Material2       94471           800           5600
2  Material3       29998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 273
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20529           400           2800
1  Material2       93671           800           5600
2  Material3       29798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 274
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20129           400           2800
1  Material2       92871           800           5600
2  Material3       29598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 275
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19729           400           2800
1  Material2       92071           800           5600
2  Material3       29398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 276
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19329           400           2800
1  Material2       91271           800           5600
2  Material3       29198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 277
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18929           400           2800
1  Material2       90471           800           5600
2  Material3       28998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 278
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18529           400           2800
1  Material2       89671           800           5600
2  Material3       28798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 279
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18129           400           2800
1  Material2       88871           800           5600
2  Material3       28598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 280
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17729           400           2800

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14129           400           2800
1  Material2       80871           800           5600
2  Material3       26598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 290
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13729           400           2800
1  Material2       80071           800           5600
2  Material3       26398           200           1400
For order qty: -7553
Material 1 present: -75530
Material 2 present: -151060
Material 3 present: -37765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1831
9                     Guangdong    admin  21489000.0  1156237133    3009
34                Île-de-France  primary  11027000.0  1250015082    1140
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1594
2                         Delhi    admin  31870000.0  1356872604    3386
6                   Mahārāshtra    admin  22186000.0  1356226629    1090
0                         Tōkyō  primary  39105000.0  1392685764    1653
18                        Ōsaka    admin  15490000.0  1392419823    3042
5                         Seoul  primary  22394000.0  1410836482    1085
220                       Busan    admin   3453198.0  1410601465    3273

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       297.0  10887.511898
9        12899.735317  Material_2             6.0       292.0  23289.182141
34        5848.624736  Material_3            12.0       299.0   8000.918639
937       6316.399245  Material_1             7.5       299.0   7551.255297
2        11770.780931  Material_2             7.0       292.0  27899.104964
6        12554.672401  Material_3            10.0       291.0  13684.592917
0        10875.131358  Material_1             8.0       297.0  14381.273708
18       11127.301019  Material_2             8.0       292.0  27079.399760
5        11081.715312  Material_3            11.0       297.0  13226.027225
220      11290.184512  Material_2            10.0       294.0  36952.773908

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 291
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13329           400           2800
1  Material2       79271           800           5600
2  Material3       26198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 292
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12929           400           2800
1  Material2       78471           800           5600
2  Material3       25998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 293
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12529           400           2800
1  Material2       77671           800           5600
2  Material3       25798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 294
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12129           400           2800
1  Material2       76871           800           5600
2  Material3       25598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 295
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11729           400           2800
1  Material2       76071           800           5600
2  Material3       25398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 296
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11329           400           2800
1  Material2       75271           800           5600
2  Material3       25198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 297
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10929           400           2800
1  Material2       74471           800           5600
2  Material3       24998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 298
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10529           400           2800
1  Material2       73671           800           5600
2  Material3       24798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 299
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10129           400           2800
1  Material2       72871           800           5600
2  Material3       24598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 300
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9729           400           2800
1  Material2       72071           800           5600
2  Material3       24398           200           1400
For order qty: -7953
Material 1 present: -79530
Material 2 present: -159060
Material 3 present: -39765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1554
9                     Guangdong    admin  21489000.0  1156237133    3186
34                Île-de-France  primary  11027000.0  1250015082    1118
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1618
2                         Delhi    admin  31870000.0  1356872604    3295
6                   Mahārāshtra    admin  22186000.0  1356226629    1021
0                         Tōkyō  primary  39105000.0  1392685764    1858
18                        Ōsaka    admin  15490000.0  1392419823    3107
5                         Seoul  primary  22394000.0  1410836482    1008
220                       Busan    admin   3453198.0  1410601465    3147

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       302.0   9240.411518
9        12899.735317  Material_2             6.0       308.0  24659.134032
34        5848.624736  Material_3            12.0       307.0   7846.514946
937       6316.399245  Material_1             7.5       307.0   7664.950483
2        11770.780931  Material_2             7.0       302.0  27149.306218
6        12554.672401  Material_3            10.0       302.0  12818.320521
0        10875.131358  Material_1             8.0       310.0  16164.795251
18       11127.301019  Material_2             8.0       305.0  27658.019413
5        11081.715312  Material_3            11.0       309.0  12287.405938
220      11290.184512  Material_2            10.0       306.0  35530.210660

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 301
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9329           400           2800
1  Material2       71271           800           5600
2  Material3       24198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 302
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8929           400           2800
1  Material2       70471           800           5600
2  Material3       23998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 303
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8529           400           2800
1  Material2       69671           800           5600
2  Material3       23798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 304
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8129           400           2800
1  Material2       68871           800           5600
2  Material3       23598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 305
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7729           400           2800
1  Material2       68071           800           5600
2  Material3       23398           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 306
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7329           400           2800
1  Material2       67271           800           5600
2  Material3       23198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 307
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6929           400           2800
1  Material2       66471           800           5600
2  Material3       22998           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 308
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6529           400           2800
1  Material2       65671           800           5600
2  Material3       22798           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 309
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6129           400           2800
1  Material2       64871           800           5600
2  Material3       22598           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 310
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5729           400           2800
1  Material2       64071           800           5600
2  Material3       22398           200           1400
For order qty: -8353
Material 1 present: -83530
Material 2 present: -167060
Material 3 present: -41765
material3 required:  0
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1844
9                     Guangdong    admin  21489000.0  1156237133    3159
34                Île-de-France  primary  11027000.0  1250015082    1208
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1509
2                         Delhi    admin  31870000.0  1356872604    3061
6                   Mahārāshtra    admin  22186000.0  1356226629    1073
0                         Tōkyō  primary  39105000.0  1392685764    1675
18                        Ōsaka    admin  15490000.0  1392419823    3310
5                         Seoul  primary  22394000.0  1410836482    1203
220                       Busan    admin   3453198.0  1410601465    3237

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0       319.0  10964.812638
9        12899.735317  Material_2             6.0       317.0  24450.158319
34        5848.624736  Material_3            12.0       314.0   8478.166418
937       6316.399245  Material_1             7.5       315.0   7148.584845
2        11770.780931  Material_2             7.0       318.0  25221.252302
6        12554.672401  Material_3            10.0       314.0  13471.163486
0        10875.131358  Material_1             8.0       313.0  14572.676020
18       11127.301019  Material_2             8.0       316.0  29465.093099
5        11081.715312  Material_3            11.0       314.0  14664.433872
220      11290.184512  Material_2            10.0       314.0  36546.327266

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 311
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5329           400           2800
1  Material2       63271           800           5600
2  Material3       22198           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 312
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4929           400           2800
1  Material2       62471           800           5600

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 334
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 335
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 336
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 337
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id, Volume, Distance_from_us, Material, Material_Costs, Time_Taken, Total_Costs, Per_Unit_Price]
Index: []
4406199.521715868
Day : 338
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1           0           400           2800
1  Material2       52871           800           5600
2  Material3       19598           200           1400
Inventory is:  12960
Total Losses made are:  183346.09393378557
Average Non Optimized cost for order quantity of 13458 is: 2203099.760857934
Average Non Optimized days lost is: 7.0
Average Non Optimized price per good is: 339.9845309965948
Average Price the goods should have been is:  327.4037391674742